<div class="page-container">
    <div class="reset-container shadow-lg">
        <h3>Resete a sua Senha</h3>
        <form [formGroup]="resetForm">
            <span>Por favor use uma Senha Forte.</span>

            <div class="input-row">
                <input formControlName="password" type="password" name="password" id="password" placeholder="Senha"
                    class="text-input" required>
                <span *ngIf="resetForm.hasError('required', 'password') && resetForm.controls['password'].dirty"
                    class="text-red-500">*Senha é requerida</span>
            </div>

            <div class="input-row">
                <input formControlName="confirmPassword" type="password" name="comfirmPassword" id="comfirmPassword"
                    class="text-input" placeholder="Confirmar Senha" required>
                <span *ngIf="resetForm.hasError('required', 'password') && resetForm.controls['password'].dirty"
                    class="text-red-500">*Confirmar Senha é requerida</span>
                <span *ngIf="resetForm.hasError('confirmPasswordValidator', 'confirmPassword')"
                    class="text-red-500">*As Senhas não Coencidem!</span>
            </div>

            <div>
                <button (click)="reset()" [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid"
                    class="form-btn">Enviar</button>
            </div>

        </form>

    </div>
</div>