<!--card template-->
<ng-container *ngIf="invite">
    <!--card start-->
    <div style="top: calc(1rem * 1);" (click)="toggleProjectDetails()" [ngClass]="{
        'bg-stone-100': project?.projectStatus === 'COMPLETED',
        'bg-white': project?.projectStatus !== 'COMPLETED'}"
        class="sticky w-full lg:max-w-lg max-lg:max-w-md px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg hover:bg-gray-100">
        <p class="text-sm text-gray-500">ID do convite: {{invite._id}}</p>
        <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900 flex justify-between items-center">
            <span *ngIf="project" class="block py-2 mr-2">{{project.projectTitle}}</span>
            <span *ngIf="invite" class="text-sm" [ngClass]="{
                'text-blue-500': !invite.isRead, 
                'text-gray-500': invite.isRead
            }">
                {{ invite.isRead ? 'Lido' : 'Não Lido' }}
            </span>
        </h2>
        <p class="lg:text-lg">{{invite.message}}</p>
    </div>
    <!--card end-->

    <!--project details-->
    <app-project-details #projectDetails *ngIf="showProjectDetails" [project]="project" [detailedProject]="detailedProject" [projectCategoryName]="projectCategoryName"
    [creatorName]="creatorName" [skills]="skills" [userRole]="userRole" (close)="handleCloseProjectDetails()"></app-project-details>
    <!--project details-->
</ng-container>