<!--card template-->
<ng-container *ngIf="invite">
    <!--card start-->
    <div style="top: calc(1rem * 1);" (click)="toggleProjectDetails()" 
        class="invite-card space-y-4 shadow-lg" [ngClass]="{
        'bg-stone-100': project?.projectStatus === 'COMPLETED',
        'bg-white': project?.projectStatus !== 'COMPLETED'}">
        <!-- DEV MODE <p class="text-sm text-gray-500">ID do convite: {{invite._id}}</p>-->
        <div class="card-header space-y-1">
            <span *ngIf="invite" class="text-base text-left" [ngClass]="{
                'text-blue-500': !invite.isRead, 
                'text-gray-500': invite.isRead
            }">
                {{ invite.isRead ? 'Lido' : 'Não Lido' }}
            </span>
            <h2 *ngIf="project" class="project-title"> {{project.projectTitle}} </h2>
            <h3 *ngIf="creatorName" class="creator-name"> Enviado por {{creatorName}} </h3>
        </div>
        <p class="invite-message">{{invite.message}}</p>
    </div>
    <!--card end-->

    <!--project details-->
    <app-project-details #projectDetails *ngIf="showProjectDetails" [project]="project" [detailedProject]="detailedProject" [projectCategoryName]="projectCategoryName"
    [creatorName]="creatorName" [skills]="skills" [userRole]="userRole" (close)="handleCloseProjectDetails()"></app-project-details>
    <!--project details-->
</ng-container>