.form-body{
    background-color: white;
    min-height: 28rem;
    margin: 8rem 0rem 2rem 0rem;
    
    @media (min-width: 1024px) {
        width: 64rem /* 1024px */;
    }
    @media not all and (min-width: 1024px) {
        width:90svw /* 90%screen */;
        
    }
}