<div class="fixed inset-0 bg-black bg-opacity-50 block items-center justify-center z-30 overflow-auto" *ngIf="projects">
    <div *ngIf="projects.length > 0; else noProjects" class="grid justify-center py-8"> 
        <ul class="space-y-4 max-w-96">
            <li *ngFor="let project of projects" class="bg-white p-4 rounded-md shadow-md">
                <h3 class="text-lg font-medium line-clamp-1">{{ project.projectTitle }}</h3>
                <p class="text-gray-600">{{ project.projectDescription }}</p>
                <button (click)="selectProject(project)"
                    class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Selecionar Projeto
                </button>
            </li>
        </ul>
    </div>

    <ng-template #noProjects>
        <div class="grid justify-center align-middle bg-white w-fit p-2 mx-auto">
            <p class="text-gray-600 text-center font-bold py-4">Você ainda não tem projetos</p>
            <button (click)="closeProjectList()" 
                    class="text-white bg-blue-500 hover:bg-blue-600 rounded-md px-4 py-2">Voltar</button>
        </div>
    </ng-template>
</div>