<!-- review.component.html -->
<div class="grid justify-center align-middle min-h-screen h-fit">

    <ng-container *ngIf="isLoading">
        <div class="w-full flex justify-center items-center py-10 my-auto fixed top-0 bottom-0">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
        </div>
    </ng-container>

    <ng-container *ngIf="!isLoading"> 
        <!--form-body start-->
        <div class="form-body shadow-lg rounded-md">
            <!--client part start-->
            <ng-container *ngIf="userRole === 'CLIENT'">
                <h2>Avaliando o Freelancer <span>{{ reviewedUsername }}</span></h2>
                <form [formGroup]="reviewTheFreelancerForm">
                    <div class="lg:flex max-lg:grid">
                        <div class="rating-group">
                            <label for="workQuality">Qualidade do Trabalho:</label>
                            <app-star-rating formControlName="workQuality"></app-star-rating>
                        </div>
                        <div class="rating-group">
                            <label for="communication">Comunicação:</label>
                            <app-star-rating formControlName="communication"></app-star-rating>
                        </div>
                    </div>
                    <div class="lg:flex max-lg:grid">
                        <div class="rating-group">
                            <label for="professionalism">Profissionalismo:</label>
                            <app-star-rating formControlName="professionalism"></app-star-rating>
                        </div>
                        <div class="rating-group">
                            <label for="costBenefit">Custo Benefício:</label>
                            <app-star-rating formControlName="costBenefit"></app-star-rating>
                        </div>
                    </div>
                    <div class="lg:flex max-lg:grid">
                        <div class="rating-group">
                            <label for="payments">Pagamentos:</label>
                            <app-star-rating formControlName="payments"></app-star-rating>
                        </div>
                        <div class="rating-group">
                            <label for="feedback">Feedback:</label>
                            <app-star-rating formControlName="feedback"></app-star-rating>
                        </div>
                    </div>
                    <div class="comment-group">
                        <label for="comment">Comentário:</label>
                        <textarea formControlName="comment" id="comment" rows="4" 
                            placeholder="Escreva o seu comentário sobre o freelancer aqui."
                            class="shadow-md"></textarea>
                    </div>
                    <div class="buttons-row space-x-4">
                        <button type="submit" (click)="submitReview()" [disabled]="!reviewTheFreelancerForm.valid">
                            Enviar Avaliação
                        </button>
                        <button type="button" (click)="cancelReview()">Cancelar Avaliação</button>
                    </div>
                </form>
            </ng-container>
            <!--client part end-->
            <!--freelancer part start-->
            <ng-container *ngIf="userRole === 'FREELANCER'">
                <h2>Avaliando o Cliente <span>{{ reviewedUsername }}</span></h2>
                <form [formGroup]="reviewTheClientForm">
                    <div class="lg:flex max-lg:grid">
                        <div class="rating-group">
                            <label for="workQuality">Qualidade do Trabalho:</label>
                            <app-star-rating formControlName="workQuality"></app-star-rating>
                        </div>
                        <div class="rating-group">
                            <label for="communication">Comunicação:</label>
                            <app-star-rating formControlName="communication"></app-star-rating>
                        </div>
                    </div>  
                    <div class="lg:flex max-lg:grid">
                        <div class="rating-group">
                            <label for="professionalism">Profissionalismo:</label>
                            <app-star-rating formControlName="professionalism"></app-star-rating>
                        </div>
                        <div class="rating-group">
                            <label for="clarityDescription">Clareza nas descrições:</label>
                            <app-star-rating formControlName="clarityDescription"></app-star-rating>
                        </div>
                    </div>
                    <div class="comment-group">
                        <label for="comment">Comentário:</label>
                        <textarea formControlName="comment" id="comment" rows="4" 
                            placeholder="Escreva o seu comentário sobre o cliente aqui."
                            class="shadow-md"></textarea>
                    </div>
                    <div class="buttons-row space-x-4">
                        <button type="submit" (click)="submitReview()" [disabled]="!reviewTheClientForm.valid">
                            Enviar Avaliação
                        </button>
                        <button type="button" (click)="cancelReview()">Cancelar Avaliação</button>
                    </div>
                </form>
            </ng-container>
            <!--freelancer part end-->
        </div>
        <!--card end-->
    </ng-container>
</div>