.form-body {
    background-color: white;
    margin: 8rem 0rem 8rem 0rem;

    overflow: auto;
    height: fit-content;
    display: block;
    padding: 2rem;
    width: 100%;

    @media (min-width: 1024px) {
        width: 64rem
            /* 1024px */
        ;
    }

    @media not all and (min-width: 1024px) {
        width: 90svw
            /* 90%screen */
        ;
    }
    h2{
        font-weight: 600;
        margin-top: 0.75rem /* 12px */;
        margin-bottom: 0.75rem /* 12px */;
        font-size: 1.875rem /* 30px */;
        line-height: 2.25rem /* 36px */;

        span{
            color: rgb(90, 90, 90);
        }
    }

    form{
        @media (min-width: 1024px) {
           font-size: x-large;
        }
    
        @media not all and (min-width: 1024px) {
            font-size: large;
        }
        .rating-group{
            display: inline-block;
            padding: 0.5rem 0rem;
            width: 100%;
        }
        .comment-group{
            display: inline-block;
            padding: 1rem 0rem;
            width: 100%;

            textarea{
                border-width: 2px;
                border-color: rgba(209 213 219);
                width: 100%;
                padding: 0.75rem /* 12px */;
                min-height: 3.5rem /* 56px */;
                max-height: 20rem /* 320px */;
            }
        }
        .buttons-row{
            display: flex;
            align-items: center;
            text-align: center;
            margin-top: 2rem;
            button{
                padding: 0.5rem /* 8px */;
                    color: white;
                    background-color: rgba(99 102 241);
                    border-radius: 0.25rem /* 4px */;
                    width: 100%;
    
                &:hover{
                    background-color: rgb(80, 83, 240);
                }
            }
        }
    }
    
}