<div class="grid justify-center align-middle min-h-screen h-fit">

    <ng-container *ngIf="isLoading">
        <div class="w-full flex justify-center items-center py-10 my-auto fixed top-0 bottom-0">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
        </div>
    </ng-container>

    <ng-container *ngIf="!isLoading"> 
        <!--form-body start-->
        <div class="form-body shadow-lg rounded-md overflow-hidden">
            <!--client part start-->
            <ng-container *ngIf="userRole === 'CLIENT'">
                <h2>Avaliando o Freelancer <span class="freelancer-name">{{ freelancerName }}</span></h2>
                <form [formGroup]="reviewClientForm">
                    <div class="rating-group">
                        <label for="professionalism">Profissionalismo:</label>
                        <app-star-rating formControlName="professionalism"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="communication">Comunicação:</label>
                        <app-star-rating formControlName="communication"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="costBenefit">Custo Benefício:</label>
                        <app-star-rating formControlName="costBenefit"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="quality">Qualidade do Trabalho:</label>
                        <app-star-rating formControlName="quality"></app-star-rating>
                    </div>
                    <div class="comment-group">
                        <label for="comment">Comentário:</label>
                        <textarea formControlName="comment" id="comment" rows="4"></textarea>
                    </div>
                    <div class="buttons">
                        <button type="submit" (click)="submitReview()" [disabled]="!reviewClientForm.valid">Enviar
                            Avaliação</button>
                        <button type="button" (click)="cancelReview()">Cancelar Avaliação</button>
                    </div>
                </form>
            </ng-container>
            <!--client part end-->
            <!--freelancer part start-->
            <ng-container *ngIf="userRole === 'FREELANCER'">
                <h2>Avaliando o Cliente <span class="client-name">{{ clientName }}</span></h2>
                <form [formGroup]="reviewFreelancerForm">
                    <div class="rating-group">
                        <label for="professionalism">Profissionalismo:</label>
                        <app-star-rating formControlName="professionalism"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="communication">Comunicação:</label>
                        <app-star-rating formControlName="communication"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="clarity">Clareza nas descrições:</label>
                        <app-star-rating formControlName="clarity"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="payments">Pagamentos:</label>
                        <app-star-rating formControlName="payments"></app-star-rating>
                    </div>
                    <div class="rating-group">
                        <label for="feedback">Feedback:</label>
                        <app-star-rating formControlName="feedback"></app-star-rating>
                    </div>
                    <div class="comment-group">
                        <label for="comment">Comentário:</label>
                        <textarea formControlName="comment" id="comment" rows="4"></textarea>
                    </div>
                    <div class="buttons">
                        <button type="submit" (click)="submitReview()" [disabled]="!reviewFreelancerForm.valid">Enviar
                            Avaliação</button>
                        <button type="button" (click)="cancelReview()">Cancelar Avaliação</button>
                    </div>
                </form>
            </ng-container>
            <!--freelancer part end-->
        </div>
        <!--card end-->
    </ng-container>
</div>