.page-cover{
    display: grid;
    position: fixed;
    top: 0;
    z-index: 50;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    
    .search-container {
        display: flex;
        justify-content: center;
        position: relative;
        height: fit-content;
        width: 100%;
        padding: 1.5rem 0rem;
        background-color: gray;
        
        .search-bar {
            width: 50vw;
            padding: 0.75rem 1rem 0.75rem 1rem;
            background-color: white;
            color: black;
            border: 2px grey;
            border-radius: 1.5rem;
        }
    }
}
