.page-cover {
    display: block;
    position: fixed;
    top: 0;
    z-index: 50;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    height: fit-content;

    @media (min-width: 1024px) {
        top: -9.5rem;
    }
    @media not all and (min-width: 1024px) {
        top: -14rem;
    }

    .search-container {
        display: flex;
        justify-content: center;
        position: relative;
        height: fit-content;
        width: 100%;
        padding: 1.5rem 0rem;
        background-color: gray;

        @media not all and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
        }

        .search-bar-container {
            display: flex;
            padding: 0rem 1rem;
            .search-bar {
                width: 50vw;
                padding: 0.75rem 1rem 0.75rem 1rem;
                background-color: white;
                color: black;
                border: 2px grey;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
    
                @media not all and (min-width: 1024px) {
                    width: 55vw;
                }
            }
    
            .search-button {
                padding: 0rem 1rem;
                font-size: 1.25rem;
                color: white;
                background-color: rgb(106, 106, 106);
                border: gray;
                border-radius: 0rem 1.5rem 1.5rem 0rem;
                cursor: pointer;
    
                &:hover {
                    background-color: rgb(90, 90, 90);
                }
            }
        }
        
        .close-button {
            position: absolute;
            right: 5vw;
            width: 3rem;
            height: 3rem;
            font-size: 1.25rem;
            color: white;
            background-color: rgb(106, 106, 106);
            border: none;
            border-radius: 100%;
            cursor: pointer;
            margin: auto;

            &:hover {
                background-color: rgb(90, 90, 90);
            }
        }
    }

    .filters-container {
        display: flex;
        justify-content: start;
        position: relative;
        height: fit-content;
        width: 100%;
        padding: 0.5rem 0rem;
        background-color: rgb(113, 113, 113);
        overflow-x: auto;

        @media not all and (min-width: 1024px) {
            display: block;
            padding: 1rem;
        }

        .dropdown-filter {
            width: 20rem;
            height: 2.5rem;
            margin: 0rem 0.25rem;
            border-radius: 4px;

            @media not all and (min-width: 1024px) {
                width: 100%;
            }
        }

        .selected-skills {
            display: flex;
            align-items: center;
            vertical-align: middle;
            justify-content: start;
            width: fit-content;
            padding: 0rem 0.25rem;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.25);

            @media not all and (min-width: 1024px) {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem /* 8px */;
                padding: 0.25rem;
            }

            .displayed-skill {
                display: flex;
                height: 2rem
                    /* 32px */
                ;
                border-radius: 0.25rem
                    /* 4px */
                ;
                width: fit-content;

                .skill-content {
                    display: flex;
                    padding: 0.25rem 1rem;
                    padding-right: 1rem
                        /* 16px */
                    ;
                    color: white;
                    text-wrap: nowrap;
                    overflow: clip;
                }

                .skill-remover {
                    color: white;
                    font-weight: 700;
                    padding: 0.25rem 0.5rem;
                    border-radius: 4px;

                    cursor: pointer;
                }
            }
        }
    }

}