<!--card details start-->
<div class="project-container">
    <div class="project-frame shadow-lg">
        <div class="frame-header">
            <!-- DEV MODE <p class="text-sm text-gray-500">ID do Projeto: {{project._id}}</p>-->

            <button (click)="onClose()" class="close-btn">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <div *ngIf="detailedProject" class="project-details">
            <h1 class="project-title">{{project.projectTitle}}</h1> 
            <div class="main-project-info">

                <div class="primary-project-info">
                    <p *ngIf="creationDate"><strong>Criado em:</strong> {{ creationDate }}</p>
                    <p><strong>Criado por: </strong>{{creatorName}}</p>
                    <p><strong>Trabalhado por: </strong>
                        <ng-container *ngIf="detailedProject.freelancerId; else noFreelancer">
                            {{detailedProject.freelancerId.username}}
                        </ng-container>
                        <ng-template #noFreelancer>
                            Não especificado
                        </ng-template>
                    </p>

                    <ng-container *ngIf="detailedProject.pricingType == 'BUDGET'">
                        <p>
                            <strong>Orçamento:</strong>
                            {{detailedProject.projectBudget.currency}}{{detailedProject.projectBudget.min}}
                            -
                            {{detailedProject.projectBudget.currency}}{{detailedProject.projectBudget.max}}
                        </p>
                    </ng-container>

                    <ng-container *ngIf="detailedProject.pricingType == 'HOURLY-RATE'">
                        <p>
                            <strong>Preço por Hora:</strong>
                            {{detailedProject.projectHourlyRate.currency}}{{detailedProject.projectHourlyRate.min}}
                            -
                            {{detailedProject.projectHourlyRate.currency}}{{detailedProject.projectHourlyRate.max}}
                        </p>
                    </ng-container>

                    <p><strong>Categoria do Projeto: </strong>{{ projectCategoryName }}</p>

                    <p><strong>Status: </strong>
                        <ng-container *ngIf="project.projectStatus === 'DRAFT'">Rascunho</ng-container>
                        <ng-container *ngIf="project.projectStatus === 'POSTED'">Postado</ng-container>
                        <ng-container *ngIf="project.projectStatus === 'IN-PROGRESS'">Em Progresso</ng-container>
                        <ng-container *ngIf="project.projectStatus === 'CANCELLED'">Cancelado</ng-container>
                        <ng-container *ngIf="project.projectStatus === 'COMPLETED'">Finalizado</ng-container>
                    </p>

                    <strong>Habilidades:</strong>
                    <ng-container *ngIf="skills.length > 0; else noSkills">
                        <div class="flex flex-row flex-wrap">
                            <span *ngFor="let skill of skills; let last = last">
                                <span class="mr-1" *ngIf="!last"> {{ skill + ","}} </span>
                                <span *ngIf="last"> {{skill + "."}} </span>
                            </span>
                            
                          </div>

                    </ng-container>
                    <ng-template #noSkills>
                        Não especificado
                    </ng-template>

                </div>

                <div class="secondary-project-info">
                    <p><strong>Duração estimada:</strong>
                        {{detailedProject.estimatedDuration}}
                        {{detailedProject.estimatedDuration > 1 ? 'dias': 'dia'}}
                    </p>
                    <p><strong>Forma de trabalho: </strong>
                        <ng-container *ngIf="detailedProject.workModel === 'REMOTE'">Remoto</ng-container>
                        <ng-container *ngIf="detailedProject.workModel === 'ON-SITE'">Presencial</ng-container>
                        <ng-container *ngIf="detailedProject.workModel === 'HYBRID'">Hibrido</ng-container>
                    </p>
                    <p><strong>Escopo: </strong>
                        <ng-container *ngIf="detailedProject.projectSize === 'SMALL'">Pequeno</ng-container>
                        <ng-container *ngIf="detailedProject.projectSize === 'MEDIUM'">Médio</ng-container>
                        <ng-container *ngIf="detailedProject.projectSize === 'LARGE'">Grande</ng-container>
                    </p>
                    <p><strong>Tipo de Precificação: </strong>
                        <ng-container *ngIf="detailedProject.pricingType === 'BUDGET'">Orçamento</ng-container>
                        <ng-container *ngIf="detailedProject.pricingType === 'HOURLY-RATE'">Preço por Hora</ng-container>
                    </p>
                    <p><strong>Localização:</strong>
                        <ng-container *ngIf="detailedProject.location; else noLocation">
                            <br>{{detailedProject.location.streetAddress +", "+ detailedProject.location.neighborhood}}
                            <br>{{detailedProject.location.city}}, {{detailedProject.location.state}}
                            {{detailedProject.location.cep +", "+ detailedProject.location.country}}
                        </ng-container>
                        <ng-template #noLocation>
                            Não especificado
                        </ng-template>
                    </p>
                </div>

            </div>
            <div class="other-project-info">
                <p><strong>Descrição:</strong> <br> {{detailedProject.projectDescription}}</p>
            </div>
            
        </div>

        <!--Buttons start-->
        <div class="project-options space-x-4">
            <ng-container *ngIf="userRole == 'CLIENT'">
                <button *ngIf="project.projectStatus === 'DRAFT'" (click)="postProject()" class="project-btns"> 
                    <span class="max-lg:hidden">Postar Projeto</span>
                    <i class="fa fa-paper-plane lg:hidden"></i>
                </button>
                <button *ngIf="project.projectStatus !== 'COMPLETED'" (click)="cancelProject()" class="project-btns">
                    <span class="max-lg:hidden">Cancelar Projeto</span>
                    <i class="fa fa-minus-circle lg:hidden"></i>
                </button>
                <button *ngIf="project.projectStatus !== 'IN-PROGRESS' && project.projectStatus !== 'COMPLETED'"
                    (click)="editProject()" class="project-btns">
                    <span class="max-lg:hidden">Editar Projeto</span>
                    <i class="fa fa-pencil lg:hidden"></i>
                </button>
                <button *ngIf="project.projectStatus === 'IN-PROGRESS'" (click)="finishProject()" class="project-btns">
                    <span class="max-lg:hidden">Finalizar Projeto</span>
                    <i class="fa fa-check-circle lg:hidden"></i>
                </button>
            </ng-container>

            <ng-container *ngIf="userRole == 'FREELANCER' && project.projectStatus !== 'DRAFT'">
                <button *ngIf="project.projectStatus === 'POSTED'" (click)="makeProposal()" class="project-btns">
                    <span class="max-lg:hidden">Fazer Proposta</span>
                    <i class="fa fa-handshake-o lg:hidden"></i>
                </button>
                <button *ngIf="project.projectStatus === 'IN-PROGRESS'" (click)="cancelProject()" class="project-btns">
                    <span class="max-lg:hidden">Cancelar Projeto</span>
                    <i class="fa fa-minus-circle lg:hidden"></i>
                </button>
                <button *ngIf="project.projectStatus === 'IN-PROGRESS'" (click)="finishProject()" class="project-btns">
                    <span class="max-lg:hidden">Finalizar Projeto</span>
                    <i class="fa fa-check-circle lg:hidden"></i>
                </button>
            </ng-container>

            <ng-container *ngIf="project.projectStatus === 'COMPLETED' && showReviewButton">
                <button (click)="goToReview()" class="project-btns">
                    <span class="max-lg:hidden"> Avaliar
                        <span *ngIf="detailedProject.clientId._id == this.authService.getUserId()">Freelancer</span>
                        <span *ngIf="detailedProject.freelancerId._id == this.authService.getUserId()">Cliente</span>
                    </span>
                    <i class="fa fa-star-half-o lg:hidden"></i>
                </button>
            </ng-container>
        </div>
        <!--Buttons end-->
    </div>
</div>
<!--card details end-->