.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    z-index: 70;
    inset: 0px;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);
    height: 100vh;
    overflow: auto;

    .project-frame{
        background-color: white;
        border-radius: 0.5rem /* 8px */;
        padding: 2rem /* 32px */;
        overflow-y: auto;

        @media (min-width: 1024px) {
            margin: auto auto;
            width: 68.5vw;
            height: fit-content;
        }
        
        @media not all and (min-width: 1024px) {
            border-radius: 0rem /* 8px */;
            margin: auto auto;
            width: 96.5vw;
            height: 99.9vh;
        }

        .frame-header{
            display: flex;
            justify-content: end;

            .close-btn{
                background-color: rgb(209 213 219);
                color: rgb(31 41 55);
                font-weight: 700;
                border-radius: 100%;
                padding: 0.25rem /* 4px */;
                align-items: center;
                width: fit-content;
                height: fit-content;

                &:hover{
                    background-color: rgb(156 163 175);
                }
            }
        }
        .project-details{
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 1.33rem;
            line-height: 1.5;

            .project-title{
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.5;
                margin-bottom: 0.85rem;

                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;

                color: rgb(17 24 39);

                @media not all and (min-width: 1024px) {
                    font-size: 1.77rem;
                    line-height: 1.25;
                }
            }

            .main-project-info{
                display: flex;
                padding: 1rem 0rem;
                width: 100%;

                @media (min-width: 1024px) {
                    flex-direction: row;
                }
                @media not all and (min-width: 1024px) {
                    flex-direction: column;
                }

                .primary-project-info{
                    display: block;
                    width: 100%;
                }

                .secondary-project-info{
                    display: block;
                    width: 100%;
                }
                
            }

            .other-project-info{
                display: block;
                width: 100%;
            }
        }

        .project-options{
            display: flex;
            margin-top: 1rem /* 16px */;
            width: 100%;
            height: fit-content;

            .project-btns{
                background-color: rgb(59 130 246);
                color: white;
                font-size: 1.25rem;
                font-weight: 700;
                padding: 1rem 0.5rem;
                border-radius: 0.25rem;
                width: 100%;

                &:hover{
                    background-color: rgb(29 78 216);
                }
            }
        }
    }
}