<div class="grid min-h-screen h-fit">
    <!--if no invites-->
    <ng-container *ngIf="isLoading">
        <div class="w-full flex justify-center items-center py-10 my-auto fixed top-0 bottom-0">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
        </div>
    </ng-container>

    <!--if data-->
    <ng-container *ngIf="!isLoading">
        <!--if invites-->
        <ng-container *ngIf="invites.length <= 0">
            <div *ngIf="this.userRole == 'FREELANCER'" class="block text-wrap max-w-md shadow-lg p-10 my-auto mx-auto bg-white h-fit">
                <h1 class="text-center text-4xl text-gray-700">Que vazio!</h1>
                <p class="text-left text-2xl text-gray-600 mt-4">
                    Voçê ainda não tem nenhum convite na sua área de trabalho.
                </p>
            </div>
        </ng-container>
        <!--grid start-->
        <ng-container *ngIf="invites.length > 0"> 
            <div class="flex justify-between align-middle items-center lg:max-w-lg max-lg:max-w-md w-full mt-28 -mb-14 mx-auto">
                <h2 class="text-3xl font-bold text-black"> Meus Convites</h2>
            </div>
            <div class="grid justify-center gap-4 my-28">
                <ng-container *ngFor="let invite of invites">
                    <app-invite-card [invite]="invite"></app-invite-card>
                </ng-container>
            </div>
        </ng-container>
        <!--grid end-->
    </ng-container>
</div>