<!--card template-->
<ng-container *ngIf="proposal">
    <!--card start-->
    <div (click)="toggleDetails()" style="top: calc(1rem * 1);" [ngClass]="{
        'bg-stone-100': project?.projectStatus === 'COMPLETED',
        'bg-white': project?.projectStatus !== 'COMPLETED'}"
        class="proposal-card shadow-lg">
        <!-- DEV MODE <p class="text-sm text-gray-500">ID da Proposta: {{proposal._id}}</p>-->
        <div class="card-header">
            <span class="proposal-status" 
            [ngClass]="{'bg-blue-500': proposal.status === 'DRAFT',
                      'bg-yellow-500': proposal.status === 'PENDING',
                      'bg-red-500': proposal.status === 'REJECTED',
                      'bg-green-500': proposal.status === 'ACCEPTED'}">
                <span> Status da Proposta: </span>
                <ng-container *ngIf="proposal.status === 'DRAFT'">Rascunho</ng-container>
                <ng-container *ngIf="proposal.status === 'PENDING'">Pendente</ng-container>
                <ng-container *ngIf="proposal.status === 'REJECTED'">Rejeitada</ng-container>
                <ng-container *ngIf="proposal.status === 'ACCEPTED'">Aceita</ng-container>
            </span>
            <span *ngIf="project" class="project-title">{{project.projectTitle}}</span>
            <h3 *ngIf="creatorName && project.clientId._id === this.authService.getUserId()" class="creator-name"> {{creatorName}} </h3>
        </div>
    </div>
    <!--card end-->
    <!--card details start-->
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-30" *ngIf="showDetails">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-3xl w-full" style="max-height: 90vh; overflow-y: auto;">
            <div class="flex justify-between align-middle">
                <h2 *ngIf="project" class="text-2xl font-bold mb-4">{{project.projectTitle}}</h2>
                <button (click)="toggleDetails()"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-full p-1 items-center w-fit h-fit">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- DEV MODE
            <div class="lg:flex max-lg:grid justify-start align-middle">
                <p class="text-sm text-gray-500">ID do Projeto: {{proposal.projectId}} <span
                        class="lg:visible max-lg:hidden">|</span></p>
                <p class="text-sm text-gray-500 ml-1"> ID da Proposta: {{proposal._id}}</p>
            </div>
            -->
            <div *ngIf="detailedProposal" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <p><strong>Proposta criada por:</strong> {{creatorName}}</p>
                    <p><strong>Projeto criado por:</strong> {{projectCreatorName}}</p>
                    <p><strong>Descrição:</strong> <br> {{detailedProposal.coverLetter}}</p>
                </div>
                <div>
                    <ng-container *ngIf="detailedProposal.pricingType == 'BUDGET'">
                        <p>
                            <strong>Orçamento:</strong>
                            {{project.projectBudget.currency}}
                            {{detailedProposal.proposedBudget}}
                        </p>
                    </ng-container>

                    <ng-container *ngIf="detailedProposal.pricingType == 'HOURLY-RATE'">
                        <p>
                            <strong>Preço por Hora:</strong>
                            {{project.projectHourlyRate.currency}}
                            {{detailedProposal.proposedHourlyRate}}
                        </p>
                    </ng-container>

                    <p><strong>Duração Estimada: </strong>
                        {{detailedProposal.estimatedDuration}} {{detailedProposal.estimatedDuration > 1 ? 'dias'
                        : 'dia'}}
                    </p>
                    <p><strong>Status da Proposta: </strong>
                        <ng-container *ngIf="proposal.status === 'DRAFT'">Rascunho</ng-container>
                        <ng-container *ngIf="proposal.status === 'PENDING'">Pendente</ng-container>
                        <ng-container *ngIf="proposal.status === 'REJECTED'">Rejeitada</ng-container>
                        <ng-container *ngIf="proposal.status === 'ACCEPTED'">Aceita</ng-container>
                    </p>
                </div>
            </div>

            <!--Buttons start-->
            <div class="mt-4 flex w-full space-x-4">
                <ng-container *ngIf="userRole == 'FREELANCER'">
                    <button *ngIf="proposal.status === 'DRAFT'" (click)="sendProposal()"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full">
                        Enviar Proposta
                    </button>
                    <button (click)="cancelProposal()"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-full">
                        Cancelar Proposta
                    </button>
                    <button *ngIf="proposal.status !== 'ACCEPTED'" (click)="editProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Editar Proposta
                    </button>
                </ng-container>

                <ng-container *ngIf="userRole == 'CLIENT'">
                    <button *ngIf="proposal.status === 'PENDING'" (click)="acceptProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Aceitar Proposta
                    </button>
                    <button *ngIf="proposal.status === 'PENDING'" (click)="rejectProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Rejeitar Proposta
                    </button>
                </ng-container>
            </div>
            <!--Buttons end-->
        </div>
    </div>
    <!--card details end-->
</ng-container>