<!--card template-->
<ng-container *ngIf="proposal">
    <!--card start-->
    <div (click)="toggleDetails()" style="top: calc(1rem * 1);" [ngClass]="{
        'bg-stone-100': project.projectStatus === 'COMPLETED',
        'bg-white': project.projectStatus !== 'COMPLETED'}"
        class="sticky w-full lg:max-w-lg max-lg:max-w-md px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg hover:bg-gray-100">
        <p class="text-sm text-gray-500">ID da Proposta: {{proposal._id}}</p>
        <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900 flex justify-between items-center">
            <span *ngIf="project" class="block py-2 mr-2">{{project.projectTitle}}</span>
            <span class="block w-fit p-2 border-2 border-transparent rounded-md text-white" [ngClass]="{'bg-blue-500': proposal.status === 'DRAFT',
                      'bg-yellow-500': proposal.status === 'PENDING',
                      'bg-red-500': proposal.status === 'REJECTED',
                      'bg-green-500': proposal.status === 'ACCEPTED'}">
                <ng-container *ngIf="proposal.status === 'PENDING'">Pendente</ng-container>
                <ng-container *ngIf="proposal.status === 'REJECTED'">Rejeitada</ng-container>
                <ng-container *ngIf="proposal.status === 'ACCEPTED'">Aceita</ng-container>
            </span>
        </h2>
    </div>
    <!--card end-->
    <!--card details start-->
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-30" *ngIf="showDetails">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-3xl w-full" style="max-height: 90vh; overflow-y: auto;">
            <div class="flex justify-between align-middle">
                <h2 *ngIf="project" class="text-2xl font-bold mb-4">{{project.projectTitle}}</h2>
                <button (click)="toggleDetails()"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-full p-1 items-center w-fit h-fit">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="flex justify-start align-middle">
                <p class="text-sm text-gray-500">ID do Projeto: {{proposal.projectId}} |</p>
                <p class="text-sm text-gray-500 ml-1"> ID da Proposta: {{proposal._id}}</p>
            </div>

            <div *ngIf="detailedProposal" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <p><strong>Proposta criada por:</strong> {{creatorName}}</p>
                    <p><strong>Projeto criado por:</strong> {{projectCreatorName}}</p>
                    <p><strong>Descrição:</strong> <br> {{detailedProposal.coverLetter}}</p>
                </div>
                <div>
                    <ng-container *ngIf="detailedProposal.pricingType == 'BUDGET'">
                        <p>
                            <strong>Orçamento:</strong>
                            {{detailedProposal.proposedBudget}}
                        </p>
                    </ng-container>

                    <ng-container *ngIf="detailedProposal.pricingType == 'HOURLY_RATE'">
                        <p>
                            <strong>Preço por Hora:</strong>
                            {{detailedProposal.proposedHourlyRate}}
                        </p>
                    </ng-container>

                    <p><strong>Duração Estimada :</strong> {{detailedProposal.estimatedDuration}}</p>
                    <p><strong>Status da Proposta:</strong> {{detailedProposal.status}}</p>
                </div>
            </div>

            <!--Buttons start-->
            <div class="mt-4 flex w-full space-x-4">
                <ng-container *ngIf="userRole == 'FREELANCER'">
                    <button *ngIf="proposal.status === 'DRAFT'" (click)="sendProposal()"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full">
                        Enviar Proposta
                    </button>
                    <button (click)="cancelProposal()"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-full">
                        Cancelar Proposta
                    </button>
                    <button *ngIf="proposal.status !== 'ACCEPTED'" (click)="editProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Editar Proposta
                    </button>
                </ng-container>

                <ng-container *ngIf="userRole == 'CLIENT'">
                    <button *ngIf="proposal.status === 'PENDING'" (click)="acceptProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Aceitar Proposta
                    </button>
                    <button *ngIf="proposal.status === 'PENDING'" (click)="rejectProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Rejeitar Proposta
                    </button>
                    <!--
                    <button *ngIf="proposal.status === 'PENDING'" (click)="makeCounterProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                        Make a Counter Proposal
                    </button>
                    -->
                </ng-container>
            </div>
            <!--Buttons end-->
        </div>
    </div>
    <!--card details end-->
</ng-container>