<div class="lg:w-2/6 mt-5 p-10 shadow-lg mx-auto">
    <form>
        <h2 class="font-semibold my-3 text-3xl">Informações Pessoais</h2>
        <div class="flex justify-between">
            <div>
                <h2 class="font-semibold mt-4" for="nome">Nome da empresa</h2>
                <input class="p-2 border border-gray-300 rounded" type="text" placeholder="company name" id="companyname" name="companyname" required>
            </div>
            <div>
                <h2 class="font-semibold mt-4" for="nome">Site da empresa</h2>
                <input class="p-2 border border-gray-300 rounded" type="text" placeholder="company site" id="companysite" name="companysite">
            </div>
        </div>

        <div class="grid">
            <label class="font-semibold mt-4" for="user">Descrição da empresa</label>
            <textarea id="companyDescription" name="companyDescription" rows="4"
            placeholder="Write the company descripition here" class="bg-white p-3 border-2"></textarea>
        
            <h2 class="font-semibold mt-4">Tamanho da empresa</h2>
            <select name="Option" id="projCategory" class="p-2 px-4 border border-gray-300 rounded text-gray-500">
                <option value="Default" selected>Select the company size</option>
                <option value="small">Pequena</option>
                <option value="medium">Média</option>
                <option value="large">Grande</option>
            </select>

            <h2 class="font-semibold mt-4">Área de atuação</h2>
            <select name="Option" id="projCategory" class="p-2 px-4 border border-gray-300 rounded text-gray-500">
                <option value="Default" selected>Select the company industry</option>
                <option value="op1">Opção 1</option>
                <option value="op2">Opção 2</option>
                <option value="op3">Opção 3</option>
            </select>
        
            <h2 class="font-bold mt-8 text-center">Localização</h2>

            <h2 class="font-semibold mt-4">CEP</h2>
            <input class="p-2 border border-gray-300 rounded" type="text" placeholder="" id="" name="" required>
        
            <div class="flex justify-between">
                <div>
                    <h2 class="font-semibold mt-4" for="nome">Rua</h2>
                    <input class="p-2 border border-gray-300 rounded" type="text" placeholder="" id="" name="" required>
                </div>
                <div>
                    <h2 class="font-semibold mt-4" for="nome">Número</h2>
                    <input class="p-2 border border-gray-300 rounded" type="text" placeholder="" id="" name="" required>
                </div>
            </div>

            <h2 class="font-semibold mt-4">Bairro</h2>
            <input class="p-2 border border-gray-300 rounded" type="text" placeholder="" id="" name="" required>

            <h2 class="font-semibold mt-4">Cidade</h2>
            <select name="Option" id="projCategory" class="p-2 px-4 border border-gray-300 rounded text-gray-500">
                <option value="Default" selected>Select a city</option>
                <option value="aluminio">Aluminio</option>
                <option value="itu">Itu</option>
                <option value="salto">Salto</option>
                <option value="sorocaba">Sorocaba</option>
                <option value="votorantim">Votorantim</option>
            </select>

            <h2 class="font-semibold mt-4">Estado</h2>
            <input class="p-2 border border-gray-300 rounded" type="text" placeholder="SP" id="" name="" disabled>

            <h2 class="font-semibold mt-4">País</h2>
            <input class="p-2 border border-gray-300 rounded" type="text" placeholder="Brasil" id="" name="" disabled>
        </div>

        <div class="flex justify-around mx-auto">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-5 py-2 px-4 rounded cursor-pointer w-1/3">Salvar</button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-5 py-2 px-4 rounded cursor-pointer w-1/3">Cancelar</button>
        </div>
    </form>
</div>