body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #216EA0;
}

nav {
    width: 10%;
    display: flex;
}

nav img {
    width: auto;
    height: 40px;
}

#logo-principal img {
    width: 15%;
}

main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-right: 20%;
    padding-left: 20%;
}

#client-freelancer-text {
    color: #f5f5f5;
}

#client-freelancer button {
    height: 100px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.form-group {
    margin-bottom: 15px;
}

#labels {
    padding-bottom: 4%;
    display: flex;
    justify-content: space-between;
}

#botoes-salvar-editar {
    align-items: right;
    padding-top: 4%;
}

input {
    border-radius: 5px;
    width: inherit;
}

#containers {
    display: grid;
    justify-content: space-between;
    padding-bottom: 10px;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
}