<footer class="w-full static bottom-0 z-20 py-0.5 bg-gray-500">
    <div class="grid justify-center items-center text-white text-center p-2">
        <p class="flex justify-center mb-2">&#64;2024 ArmoredCode. Todos os direitos reservados.</p>
        <div class="lg:flex max-lg:grid lg:space-x-2 max-lg:space-y-2 justify-center">
            <a class="hover:text-gray-100 text-gray-300 cursor-pointer">Como Funciona</a>
            <a class="hover:text-gray-100 text-gray-300 cursor-pointer">Termos de Uso</a>
            <a class="hover:text-gray-100 text-gray-300 cursor-pointer">Política de Privacidade</a>
            <a class="hover:text-gray-100 text-gray-300 cursor-pointer">Fale Conosco</a>
        </div>
    </div>
</footer>