<nav class="w-full flex justify-between items-center p-5 bg-sky-600 shadow-lg">
    <ng-container *ngIf="!isLoggedIn">
        <div class="logo flex">
            <img [src]="logoPath" alt="Company Logo" class="h-12 w-12 mx-3"> 
            <span class="text-gray-200 text-4xl flex justify-start items-center" style="font-family: Michroma;"> ArmoredCode</span>
        </div>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
        <div class="logo flex">
            <img [src]="logoPath" alt="Company Logo" class="h-12 w-12 mx-3"> 
            <span routerLink="/home" class="text-gray-200 text-4xl flex justify-start items-center cursor-pointer" style="font-family: Michroma; font-size: 2rem;"> ArmoredCode</span>
        </div>
    </ng-container>
    <div *ngIf="isLoggedIn" class="search relative">
        <span class="absolute mt-1.5 mx-3"><i class="fa fa-search font-light" aria-hidden="true"></i></span>
        <input type="text" placeholder="Search"
        class="w-96 p-2 pl-9 rounded rounded-r-none text-gray-600">
        <button class="bg-slate-600 p-2 rounded-r text-white outline-none outline-0">Search</button>
    </div>
    <div class="nav-items"> <!--IMPLEMENTAR FETCH() PARA FETCH API-->
        <ng-container *ngIf="!isLoggedIn">
            <span routerLink="/login"
             class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Login</span>
            <span routerLink="/register" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Register</span>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
            <div class="flex">
                <span class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Chat</span>
                <span routerLink="/manage-project" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Projects</span>
                <img [src]="profilePath" alt="Default Profile" routerLink="/login" (click)="logOut()" 
                class="h-12 w-12 mx-3 rounded-full border-white border-solid border-2">    
                <!--<span routerLink="/login" (click)="logOut()" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Logout</span>-->
            </div>
            
        </ng-container>
    </div>
</nav>
