nav {
    display: flex;
    position: fixed;
    z-index: 50;
    top: 0px;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    min-height: 6rem;

    transition: 250ms ease-in-out;
    top: 0rem;

    &.hide {
        transition: 350ms ease-in-out;
        top: -8rem;
    }
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    // Desktop Styles
    @media (min-width: 1024px) {
        span {
            cursor: pointer;
            padding: 0.5rem 1rem;  
            border-radius: 0.25rem; 

            &.active, &:hover { 
                background-color: rgba(23, 17, 148, 0.22); 
                border-width: 0.15rem;
                border-color: rgba(129, 126, 240, 0.20);
                color: lightcyan;
                text-decoration: none;
                margin: -0.25rem 0.75rem;
            }
        }
        img{
            width: 3rem;
            height: 3rem;
            margin: auto 1rem;
            border-radius: 100%;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            cursor: pointer;

            &.active, &:hover { 
                background-color: rgba(23, 17, 148, 0.22); 
                border-color: rgba(129, 126, 240, 0.20);
                border: 1rem;
                width: 3.28rem;
                height: 3.28rem;
                padding: 0.3rem;
                color: lightcyan;
                margin: -2rem 0rem;
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;

    @media (min-width: 1024px) {
        min-width: 25rem;
    }

    @media (max-width: 1023px) {
        min-width: 3rem;
    }
}

.image-logo {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-right: 1rem;

    @media (min-width: 1024px) {
        height: 3.5rem;
        /* 56px */
        width: 3.5rem;
        /* 56px */
    }

    @media not all and (min-width: 1024px) {
        height: 3rem;
        /* 48px */
        width: 3rem;
        /* 48px */
    }

    cursor: pointer;
}

.text-logo {
    display: flex;

    @media not all and (min-width: 1024px) {
        display: none;
    }

    cursor: pointer;
}

.hamburger-menu {
    height: 3rem
        /* 48px */
    ;
    width: 3rem
        /* 48px */
    ;
    margin-top: auto;
    margin-bottom: auto;

    transition: transform 0.3s ease-in-out; // Add a transition for smooth rotation

    &.rotated {
        // Apply rotation when the flag is true
        transform: rotate(90deg);
    }

    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    transition: 250ms ease-in-out;
    top: 6rem;
    right: -8rem;
    height: 100%;
    width: 0%;
    z-index: 50;

    &.open {
        width: 100%;
        transition: 350ms ease-in-out;
        right: 0rem;
    }

    @media not all and (max-width: 1024px) {
        display: none;
    }

    ul {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        width: 7rem;
        
        list-style: none;

        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);/* For Safari support */

    }
}

.icon {
    display: flex;
    color: white;

    font-size: 1.625rem
        /* 26px */
    ;
    line-height: 2rem
        /* 32px */
    ;

    margin: auto;

    cursor: pointer;
}

.icon-line {
    display: flex;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    height: 4rem;

    &:hover{
        background-color: rgba(0, 0, 0, 0.125);
    }
}