<!--nav start-->
<nav [ngClass]="{'hide': !showHeader && !showMenu}" class="bg-sky-600 shadow-lg">
    <ng-container *ngIf="!isLoading">
        <!--logged out start-->
        <ng-container *ngIf="!isLoggedIn">
            <!--logo start-->
            <div routerLink="/landing" class="logo">
                <img [src]="logoPath" alt="Company Logo" class="image-logo">
                <span class="text-logo text-gray-200 text-4xl" style="font-family: Michroma;"> ArmoredCode </span>
            </div>
            <!--logo end-->
            <!--nav-items start-->
            <div class="max-lg:hidden flex align-middle items-center w-full">
                <div class="nav-items text-gray-200 text-2xl font-bold space-x-8">
                    <span routerLink="/login" class="cursor-pointer hover:underline hover:text-indigo-200">Login</span>
                    <span routerLink="/register"
                        class="cursor-pointer hover:underline hover:text-indigo-200">Registro</span>
                </div>
            </div>
            <div class="lg:hidden flex align-middle items-center w-full">
                <div class="nav-items text-gray-200 text-2xl font-bold lg:hidden space-x-8 px-4">
                    <i class="fa fa-sign-in cursor-pointer" routerLink="/login"></i>
                    <i class="fa fa-user-plus cursor-pointer" routerLink="/register"></i>
                </div>
            </div>
            <!--nav-items end-->
        </ng-container>
        <!--logged out end-->
        <!--logged in start-->
        <ng-container *ngIf="isLoggedIn">
            <!--logo start-->
            <div routerLink="/home" class="logo">
                <img [src]="logoPath" alt="Company Logo" class="image-logo">
                <span class="text-logo text-gray-200 text-4xl" style="font-family: Michroma;"> ArmoredCode
                </span>
            </div>
            <!--logo end-->
            <div class="nav-items"> <!--IMPLEMENTAR FETCH() PARA FETCH API-->
                <!--shortcuts start-->
                <div class="flex py-2 space-x-4">
                    <div class="flex items-center w-full text-gray-200 text-2xl font-bold max-lg:hidden space-x-6">
                        <span (click)="toggleSearchBar()" routerLink="/home"
                            class="cursor-pointer max-lg:w-10 hover:underline hover:text-indigo-200">Busca</span>

                        <span *ngIf="userRole == 'FREELANCER'" routerLink="/manage-invite"
                            class="cursor-pointer max-lg:w-10 hover:underline hover:text-indigo-200">Convites</span>

                        <span routerLink="/chat"
                            class="cursor-pointer max-lg:w-10 hover:underline hover:text-indigo-200">Mensagens</span>

                        <span routerLink="/manage-project"
                            class=" cursor-pointer max-lg:w-10 hover:underline hover:text-indigo-200">Projetos</span>

                        <span *ngIf="userRole == 'FREELANCER'" routerLink="/manage-proposal"
                            class="cursor-pointer max-lg:w-10 hover:underline hover:text-indigo-200">Propostas</span>

                        <span (click)="logOut()"
                            class="cursor-pointer max-lg:w-10 hover:underline hover:text-indigo-200">Logout</span>

                        <img [src]="profilePath" alt="Default Profile" routerLink="/manage-profile"
                            class="h-12 w-12 my-auto mx-4 rounded-full border-white border-solid border-2 cursor-pointer">
                    </div>
                    <div class="flex items-center w-full text-gray-200 text-2xl font-bold lg:hidden space-x-6">
                        <img [src]="menuPath" alt="Menu Icon" (click)="toggleMenu()" class="hamburger-menu"
                            [ngClass]="{'rotated': menuRotated}">
                    </div>
                </div>
                <!--shortcuts end-->
            </div>
            <!--logged in end-->
        </ng-container>
        <!--nav end-->
    </ng-container>
</nav>
<!--mobile menu start-->
<div [ngClass]="{'open': showMenu}" class="mobile-menu">
    <ul class="block">
        <li class="icon-line" (click)="toggleSearchBar()" routerLink="/home">
            <i class="icon fa fa-search"></i>
        </li>
        <li *ngIf="userRole == 'FREELANCER'" class="icon-line" routerLink="/manage-invite">
            <i class="icon fa fa-envelope"></i>
        </li>
        <li class="icon-line" routerLink="/chat">
            <i class="icon fa fa-comments-o"></i>
        </li>
        <li class="icon-line" routerLink="/manage-project">
            <i class="icon fa fa-briefcase"></i>
        </li>
        <li *ngIf="userRole == 'FREELANCER'" class="icon-line" routerLink="/manage-proposal">
            <i class="icon fa fa-handshake-o"></i>
        </li>
        <li class="icon-line" routerLink="/manage-profile">
            <img [src]="profilePath" alt="Default Profile"
                class="h-10 w-10 m-auto rounded-full border-white border-solid border-2 cursor-pointer">
        </li>
        <li class="icon-line" (click)="logOut()">
            <i class="icon fa fa-sign-out"></i>
        </li>
    </ul>
</div>
<!--mobile menu end-->


<!--searchbar start--
        <ng-container *ngIf="isLoggedIn">
            <div *ngIf="!showMenu" class="flex justify-center mx-2">
                <div class="search relative flex">
                    <span class="absolute mt-1.5 mx-3"><i class="fa fa-search font-light" aria-hidden="true"></i></span>
                    <input type="text" placeholder="Search" class="w-full p-2 pl-9 rounded rounded-r-none text-gray-600">
                    <button class="bg-slate-600 p-2 rounded-r text-white outline-none outline-0">Search</button>
                </div>
            </div>
        </ng-container>
!--searchbar end-->