<!--if no projects-->
<ng-container *ngIf="projects.length <= 0">
    <div class="block text-wrap max-w-md shadow-lg mt-56 p-10 mx-auto bg-white">
        <h1 class="text-center text-4xl text-gray-700">Such empty!</h1>
        <p class="text-left text-2xl text-gray-600 mt-4">
            You dont have any projects in your workspace for now,
            but you can create one clicking in the "create project" button.
        </p>
    </div>
</ng-container>

<!--grid-->
<ng-container *ngIf="projects.length > 0">
    <div class="grid justify-center gap-4 my-16">
        <!--app-project-card-->
        <ng-container *ngFor="let project of projects">
            <app-project-card [project]="project"></app-project-card>
        </ng-container>

    </div>
</ng-container>

<div class="fixed bottom-12 left-1/2 transform -translate-x-1/2">
    <button *ngIf="isClient" routerLink="/create-project"
        class="bg-blue-500 hover:bg-blue-700 text-xl text-white font-bold py-4 px-8 rounded cursor-pointer">
        Create project
    </button>
</div>