<div class="grid min-h-screen h-fit">
    <!--if no projects-->
    <ng-container *ngIf="isLoading">
        <div class="w-full flex justify-center items-center py-10 my-auto fixed top-0 bottom-0">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
        </div>
    </ng-container>

    <!--if data-->
    <ng-container *ngIf="!isLoading">
        <!--if projects-->
        <ng-container *ngIf="projects.length <= 0">
            <div *ngIf="this.userRole == 'CLIENT'"
                class="block text-wrap max-w-md shadow-lg p-10 mx-auto my-auto bg-white h-fit space-y-4">
                <h1 class="text-center text-4xl text-gray-700">Que vazio!</h1>
                <p class="text-left text-2xl text-gray-600 mt-4">
                    Voçê ainda não tem nenhum projeto na sua área de trabalho,
                    mas voçê pode criar um clicando no botão de "criar projeto".
                </p>
                <button routerLink="/create-project"
                    class="bg-blue-500 hover:bg-blue-700 max-lg:text-2xl lg:text-3xl text-white font-bold max-lg:h-14 max-lg:w-14 lg:px-4 lg:py-2 max-lg:rounded-full lg:rounded cursor-pointer w-full">
                    <p class="max-lg:hidden">Criar Projeto</p>
                    <i class="fa fa-plus lg:hidden"></i>
                </button>
            </div>

            <div *ngIf="this.userRole == 'FREELANCER'"
                class="block text-wrap max-w-md shadow-lg p-10 my-auto mx-auto bg-white h-fit">
                <h1 class="text-center text-4xl text-gray-700">Que vazio!</h1>
                <p class="text-left text-2xl text-gray-600 mt-4">
                    Voçê ainda não tem nenhum projeto na sua área de trabalho.
                </p>
            </div>
        </ng-container>
        <!--grid start-->
        <ng-container *ngIf="projects.length > 0">
            <div
                class="flex justify-between align-middle items-center lg:max-w-lg max-lg:max-w-md w-full mt-28 -mb-14 mx-auto">
                <h2 class="text-3xl font-bold text-black"> Meus Projetos</h2>
                <!--button-->
                <ng-container *ngIf="this.userRole == 'CLIENT'">
                    <button routerLink="/create-project"
                        class="bg-blue-500 hover:bg-blue-700 max-lg:text-2xl lg:text-3xl text-white font-bold max-lg:h-14 max-lg:w-14 lg:px-4 lg:py-2 max-lg:rounded-full lg:rounded cursor-pointer">
                        <p class="max-lg:hidden">Criar Projeto</p>
                        <i class="fa fa-plus lg:hidden"></i>
                    </button>
                </ng-container>
            </div>

            <div class="grid justify-center gap-4 my-28 max-lg:px-2">
                <!--app-project-card-->
                <ng-container *ngFor="let project of projects">
                    <app-project-card [project]="project"></app-project-card>
                </ng-container>
            </div>
        </ng-container>
        <!--grid end-->
    </ng-container>
</div>