<div class="grid min-h-screen h-fit">
    <!--if no feed-->
    <ng-container *ngIf="isLoading">
        <div class="w-full flex justify-center items-center py-10 my-auto fixed top-0 bottom-0">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
        </div>
    </ng-container>
    <!--search start-->
    
    <!--search end-->
    <ng-container *ngIf="!isLoading">
        <!--feed container start-->
        <div class="my-24 mx-auto h-fit">
            <!--grid start-->
            <div class="grid justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-10 my-auto">
                <!--client feed start-->
                <ng-container *ngIf="this.userRole == 'CLIENT'">
                    <!--freelancers cards-->
                    <ng-container *ngFor="let freelancer of freelancers">
                        <app-freelancer-card [freelancer]="freelancer"></app-freelancer-card>
                    </ng-container>
                    <!--freelancers cards-->

                    <!-- No freelancers results -->
                    <ng-container *ngIf="!freelancers || freelancers.length <= 0">
                        <div class="flex w-full justify-center items-center my-auto right-0 left-0 absolute">
                            <p class="text-3xl font-bold text-center">Não foi possível encontrar Freelancers com estes critérios de pesquisa.</p>
                        </div>
                    </ng-container>
                    <!-- No freelancers results -->
                </ng-container>
                <!--client feed end-->
                <!--freelancer feed start-->
                <ng-container *ngIf="this.userRole == 'FREELANCER'">
                    <!--projects cards-->
                    <ng-container *ngFor="let project of projects">
                        <app-project-card [project]="project"></app-project-card>
                    </ng-container>
                    <!--projects cards-->

                    <!-- No projects results -->
                    <ng-container *ngIf="!projects || projects.length <= 0">
                        <div class="flex w-full justify-center items-center my-auto right-0 left-0 absolute">
                            <p class="text-3xl font-bold text-center">Não foi possível encontrar Projetos com estes critérios de pesquisa.</p>
                        </div>
                    </ng-container>
                    <!-- No projects results -->
                </ng-container>
                <!--freelancer feed end-->
            </div>
            <!--grid end-->
        </div>
        <!--feed container end-->
    </ng-container>
</div>