.search-container {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding: 7.5rem 0rem 1.5rem 0rem;
    background-color: rgb(246, 246, 246);

    .filter-btn{
        padding: 0rem 1rem;
        font-size: 1.25rem;
        color: white;
        background-color: rgb(106, 106, 106);
        border: gray;
        border-radius: 1.5rem;
        cursor: pointer;
    
        &:hover {
            background-color: rgb(90, 90, 90);
        }
    }

    .search-bar-container {
        display: flex;
        padding: 0rem 1rem;

        .search-bar {
            width: 40vw;
            padding: 0.75rem 1rem 0.75rem 1rem;
            background-color: white;
            color: black;
            border: 2px grey;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
    
            @media not all and (min-width: 1024px) {
                width: 55vw;
            }
        }
    
        .search-button {
            padding: 0rem 1rem;
            font-size: 1.25rem;
            color: white;
            background-color: rgb(106, 106, 106);
            border: gray;
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            cursor: pointer;
    
            &:hover {
                background-color: rgb(90, 90, 90);
            }
        }
    }

}