.search-container {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 7.5rem 0rem 1.5rem 0rem;
    background-color: rgb(246, 246, 246);

    @media not all and (min-width: 1024px) {
        justify-content: center;
    }

    @media (min-width: 768px) {
        justify-content: end;
    }

    @media (min-width: 1024px) {
        justify-content: center;
    }

    .filter-btn {
        padding: 0rem 1rem;
        font-size: 1.25rem;
        color: white;
        background-color: rgb(106, 106, 106);
        border: gray;
        border-radius: 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: rgb(90, 90, 90);
        }
    }

    .search-bar-container {
        display: flex;
        padding: 0rem 1rem;

        .search-bar {
            padding: 0.75rem 1rem 0.75rem 1rem;
            background-color: white;
            color: black;
            border: 2px grey;
            border-radius: 1.5rem 0rem 0rem 1.5rem;

            @media not all and (min-width: 1024px) {
                width: 55vw;
            }

            @media (min-width: 768px) {
                width: 35vw;
            }

            @media (min-width: 1024px) {
                width: 40vw;
            }

        }

        .search-button {
            padding: 0rem 1rem;
            font-size: 1.25rem;
            color: white;
            background-color: rgb(106, 106, 106);
            border: gray;
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(90, 90, 90);
            }
        }
    }

}

.filters-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    z-index: 30;
    height: 100%;
    padding: 7.5rem 1rem 1.5rem 1rem;
    background-color: rgb(234, 234, 234);

    @media not all and (min-width: 1024px) {
        width: 98vw;
    }

    @media (min-width: 768px) {
        width: 33.3vw; 
    }

    @media (min-width: 1024px) {
        width: 22.5vw;
    }

    .filters-header {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        vertical-align: middle;

        .header-title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 1;
            margin: auto 0rem;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;

            color: rgb(17 24 39);

            @media not all and (min-width: 1024px) {
                font-size: 1.77rem;
            }
        }

        .close-filters-btn {
            width: 3rem;
            height: 3rem;
            font-size: 1.25rem;
            color: white;
            background-color: rgb(106, 106, 106);
            border: gray;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background-color: rgb(90, 90, 90);
            }
        }
    }

    .filters-inputs-container {
        padding: 1.5rem 0rem;

        .dropdown-filter {
            margin: 1rem 0rem;
            padding: 0.5rem 1rem;
            max-height: 4rem;
            width: 100%;

            border-width: 1px;
            border-color: rgb(209 213 219);
            border-radius: 0.25rem;
            color: rgb(107 114 128);
        }

        .add-skills-btn {
            height: fit-content;
            padding: 0.25rem 1rem;
            font-size: 1.25rem;
            color: white;
            background-color: rgb(106, 106, 106);
            border: gray;
            border-radius: 0.25rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(90, 90, 90);
            }
        }

        .skills-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            gap: 0.5rem;
            background-color: rgb(200, 200, 200);
            padding: 0.5rem;
            width: 100%;
            height: fit-content;
            border-radius: 0.25rem;
        }
    }
}



.results-grid {
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    @media not all and (min-width: 1024px) {
        --column-count: 1;
        padding: 2rem;
    }

    @media (min-width: 768px) {
        --column-count: 2;
        padding: 2.5rem 3rem;
    }

    @media (min-width: 1024px) {
        --column-count: 3;
        padding: 2.5rem 14rem;
    }
}

.results-grid.filters-visible {
    justify-self: center;

    @media not all and (min-width: 1024px) {
        --column-count: 1;
        padding: 2rem;
        width: fit-content;
    }

    @media (min-width: 768px) {
        --column-count: 1;
        padding: 2.5rem 0.5rem;
        width: fit-content;
        margin-right: 10rem;
    }

    @media (min-width: 1024px) {
        --column-count: 2;
        padding: 2.5rem 0rem;
        width: fit-content;
    }
}