/* Variáveis */
$primary-color: #007bff; // Azul
$secondary-color: #6c757d; // Cinza
$light-gray: #f8f9fa;

/* Estilos Gerais */
body {
  font-family: sans-serif;
}

.landing-page {
  background-color: white;
}

.btn {
    font-size: larger;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 1rem 6rem 1rem 6rem;
    border-radius: 0.5rem;
}

/* Seção Hero */
.hero {
  background-color: $light-gray;
  padding: 100px 0;
  text-align: center;

  .hero-content {
    padding: 5rem 1rem 0rem 1rem;
    h1 {
      font-weight: bold;
    }

  }
}

/* Seção Problema & Solução */
.problem-solution {
  padding: 50px 0;

  .row {
    align-items: center; // Alinha verticalmente

    div {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

/* Seção Benefícios */
.benefits {
  background-color: $light-gray;
  padding: 50px 0;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .row {
    div {
      h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

/* Seção Como Funciona */
.how-it-works {
  padding: 50px 0;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .row {
    .step {
      margin-bottom: 2rem;

      .step-number {
        font-size: 2rem;
        font-weight: bold;
        border-radius: 50%;
        background-color: $primary-color;
        color: white;
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* Seção Chamada para Ação Final */
.call-to-action {
  background-color: $primary-color;
  color: white;
  padding: 50px 0;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .cta-buttons {
    .btn {
      margin: 0 1rem;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

  }
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}