.star-display {
    span {
        @media (min-width: 1024px) {
            margin: 0.3rem;
            font-size: 1.5rem;
        }
        @media not all and (min-width: 1024px) {
            margin: 0.25rem;
            font-size: 1.25rem;
        }
        .star-yellow {
            color: gold;
        }
    }
}