<div class="flex flex-col min-h-screen h-fit bg-white">

    <div *ngIf="isLoading" class="w-full flex justify-center items-center py-10">
        <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
    </div>

    <ng-container *ngIf="!isLoading && profile">

        <div class="w-full flex justify-start max-lg:justify-center items-center mt-24 p-8 bg-slate-300 shadow-lg">
            <img class="rounded-full bg-black w-32 h-32 -mb-24 flex justify-center items-center border-slate-300 border-4"
                *ngIf="profile.logo; else defaultImage" [src]="profile.logo" type="image/png" alt="Profile Logo">
            <ng-template #defaultImage>
                <img src="../../../assets/images/prf_icon.png" class="w-28 h-28 overflow-hidden">
            </ng-template>
        </div>


        <div class="w-full flex max-lg:grid justify-between max-lg:justify-center py-3 mt-20 h-fit">
            <div class="px-10 max-lg:p-4 h-fit">
                <!-- Display companyName if it exists, otherwise display firstName and lastName -->
                <h2 class="font-bold text-3xl">
                    {{ profile.companyName ? profile.companyName : (profile.firstName ? profile.firstName + ' ' +
                    profile.lastName : 'User Profile') }}
                </h2>
                <h2>
                    {{authService.getUserId()}}
                </h2>
            </div>
            <div class="flex justify-center max-lg:w-full max-lg:justify-between px-8 py-4 h-fit">
                <button (click)="showDeleteConfirmation()"
                    class="flex justify-center items-center rounded
                 max-lg:text-nowrap font-semibold text-gray-700 bg-transparent mr-2 py-4 px-8 border border-gray-500 hover:bg-red-500 hover:text-white hover:border-transparent">
                    <object class="w-3 h-3 mx-2" data="../../../assets/images/garbage-trash-svgrepo-com.svg"></object>
                    Delete Account
                </button>
                <button routerLink="/edit-profile"
                    class="flex justify-center items-center rounded max-lg:text-nowrap font-semibold
                         text-gray-700 bg-transparent ml-2 py-4 px-8 border border-gray-500 hover:bg-blue-500 hover:text-white hover:border-transparent">
                    <object class="w-3 h-3 mx-2 -mb-1"
                        data="../../../assets/images/pencil-edit-svgrepo-com.svg"></object>
                    Edit Profile
                </button>
            </div>
        </div>

        <div class="grid justify-center h-fit w-3/6 p-8 mb-8">
            <h3 class="font-bold text-3xl py-3">About</h3>
            <!--template start-->
            <ng-container *ngIf="profile.companyName; else freelancerContent">
                <!-- Client Profile Content -->
                <p class="text-xl py-3">{{ profile.companyDescription }}</p>
                <ul class="text-xl py-3">
                    <li *ngIf="profile?.industryId">
                        <strong>Industry:</strong> {{ industry?.name }}
                      </li> 
                    <li><strong>Company Size:</strong> {{ profile.companySize }}</li>
                    <li *ngIf="profile.location">
                        <strong>Location:</strong> {{ profile.location.city }}, {{ profile.location.country }}
                    </li>
                </ul>
                <ul class="text-xl py-3" *ngIf="profile.website">
                    <li>
                        <span><strong>Website:</strong></span>
                        <a [href]="profile.website" target="_blank">{{ profile.website }}</a>
                    </li>
                </ul>
            </ng-container>

            <ng-template #freelancerContent>
                <!-- Freelancer Profile Content -->
                <p class="text-xl py-3">{{ profile.profileSummary }}</p>
                <ul class="text-xl py-3">
                    <li *ngIf="profile.specializationId">
                        <strong>Specialization:</strong> {{ profile.specializationId.name }}
                    </li>
                    <li>
                        <strong>Experience Level:</strong> {{ profile.experienceLevel }}
                    </li>
                    <li *ngIf="profile.hourlyRate">
                        <strong>Hourly Rate:</strong>
                        {{ profile.hourlyRate.currency }} {{ profile.hourlyRate.min }} -
                        {{ profile.hourlyRate.currency }} {{ profile.hourlyRate.max }}
                    </li>
                    <li>
                        <strong>Availability:</strong> {{ profile.isAvailable ? 'Available' : 'Not Available' }}
                    </li>
                    <li *ngIf="profile.location">
                        <strong>Location:</strong> {{ profile.location.city }}, {{ profile.location.country }}
                    </li>
                </ul>

                <div *ngIf="profile.skillIds && profile.skillIds.length > 0">
                    <h4 class="font-bold text-2xl py-2">Skills</h4>
                    <ul>
                        <li *ngFor="let skillName of skills"> <!-- Iterate over this.skills -->
                            {{ skillName }} 
                        </li>
                    </ul>
                </div>

                <div *ngIf="profile.portfolioItems && profile.portfolioItems.length > 0">
                    <h4 class="font-bold text-2xl py-2">Portfolio</h4>
                    <ul>
                        <li *ngFor="let item of profile.portfolioItems">
                            <a [href]="item.url" target="_blank">{{ item.title }}</a> - {{ item.description }}
                        </li>
                    </ul>
                </div>

                <div *ngIf="profile.educations && profile.educations.length > 0">
                    <h4 class="font-bold text-2xl py-2">Education</h4>
                    <ul>
                        <li *ngFor="let edu of profile.educations">
                            {{ edu.degreeName }} in {{ edu.fieldOfStudy }} - {{ edu.institution }} ({{ edu.startDate |
                            date:'yyyy' }} - {{ edu.endDate ? (edu.endDate | date:'yyyy') : 'Present' }})
                        </li>
                    </ul>
                </div>

                <div *ngIf="profile.certifications && profile.certifications.length > 0">
                    <h4 class="font-bold text-2xl py-2">Certifications</h4>
                    <ul>
                        <li *ngFor="let cert of profile.certifications">
                            {{ cert.name }} - {{ cert.issuingOrganization }} ({{ cert.issueDate | date:'MMM yyyy' }})
                        </li>
                    </ul>
                </div>

                <div *ngIf="profile.workExperiences && profile.workExperiences.length > 0">
                    <h4 class="font-bold text-2xl py-2">Work Experience</h4>
                    <ul>
                        <li *ngFor="let work of profile.workExperiences">
                            {{ work.jobTitle }} at {{ work.companyName }} ({{ work.startDate | date:'MMM yyyy' }} -
                            {{ work.endDate ? (work.endDate | date:'MMM yyyy') : 'Present' }})
                            <p *ngIf="work.jobDescription" class="ml-4">{{ work.jobDescription }}</p>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <!--template end-->

        </div>

    </ng-container>

    <ng-container *ngIf="!profile">
        <div class="block text-wrap max-w-md shadow-lg mt-56 p-10 mx-auto bg-white">
            <h1 class="text-center text-4xl text-gray-700">Such empty!</h1>
            <p class="text-left text-2xl text-gray-600 mt-4">
                You don't have a profile yet.
                but you can create one clicking in the "create Profile" button.
            </p>
        </div>

        <div class="fixed bottom-12 left-1/2 transform -translate-x-1/2">
            <button routerLink="/create-profile"
                class="bg-blue-500 hover:bg-blue-700 text-xl text-white font-bold py-4 px-8 rounded cursor-pointer">
                Create profile
            </button>
        </div>

    </ng-container>

    <!-- Confirmation Modal start-->
    <div *ngIf="showConfirmationModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg p-6 w-96">
            <h2 class="text-xl font-bold mb-4">Are you sure you want to delete your account?</h2>
            <p class="mb-4">This action is irreversible. Your profile and data will be permanently deleted.</p>
            <div class="flex justify-center">
                <button (click)="handleConfirmation(false)"
                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 w-full rounded mx-1">
                    No
                </button>
                <button (click)="handleConfirmation(true)"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 w-full rounded mx-1">
                    Yes
                </button>
            </div>
        </div>
    </div>
    <!-- Confirmation Modal end-->
</div>