<div class="flex flex-col min-h-screen h-fit bg-white">
    <!--if no profile-->
    <ng-container *ngIf="isLoading">
        <div class="w-full flex justify-center items-center py-10 my-auto fixed top-0 bottom-0">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
        </div>
    </ng-container>

    <!-- projects to select -->
    <ng-container *ngIf="showProjectList">
        <app-project-list (projectSelected)="handleProjectSelection($event)"
            (projectListClosed)="showProjectList = false" (close)="toggleList()">
        </app-project-list>
    </ng-container>
    <!-- projects to select -->

    <ng-container *ngIf="!isLoading && profile">

        <div class="flex min-h-64 justify-start max-lg:justify-center items-center px-8 bg-slate-300 shadow-lg">
            <img *ngIf="profile.profileImage; else defaultImage" [src]="profile.profileImage" type="image/png"
                alt="Profile Logo"
                class="flex justify-center items-center bg-black rounded-full w-32 h-32 -mb-60 border-slate-300 border-4">
            <ng-template #defaultImage>
                <img src="../../../assets/images/prf_icon.png"
                    class="flex justify-center items-center bg-black rounded-full w-32 h-32 -mb-60 p-2 border-slate-300 border-4">
            </ng-template>
        </div>


        <div class="w-full flex max-lg:grid justify-between max-lg:justify-center py-3 mt-20 h-fit">
            <div class="px-10 max-lg:p-4 h-fit">
                <h2 class="font-bold text-3xl">
                    {{ profile.companyName ? profile.companyName : (profile.firstName ? profile.firstName + ' ' +
                    profile.lastName : 'User Profile') }}
                </h2>
                <app-star-display *ngIf="profile" [userId]="profile.userId._id"></app-star-display>
                <!--DEV MODE
                    <h2> ID: {{profile._id}} </h2>
                -->
                
            </div>
            <!--Buttons start-->
            <div class="flex justify-center max-lg:w-full max-lg:justify-between px-8 py-4 h-fit">

                <button (click)="sendInvite()"
                    class="bg-transparent hover:bg-blue-500 text-black hover:text-white font-bold mx-auto py-2 px-4 border-2 border-slate-200 rounded">
                    Mandar Convite
                </button>

            </div>
            <!--Buttons end-->
        </div>

        <div class="grid justify-center h-fit p-8 mb-8 border-t-2 ">
            <!--template start-->
            <ng-container *ngIf="profile.companyName; else freelancerContent">
                <!-- Client Profile Content -->
                <div class="w-full grid justify-center lg:px-32">
                    <h3 class="font-bold text-3xl py-3">Sobre</h3>
                    <div class="w-full lg:flex max-lg:grid justify-between lg:space-x-32">
                        <p class="flex w-full justify-start text-xl py-3">{{ profile.companyDescription }}</p>

                        <ul class="block w-full justify-start text-xl py-3">
                            <li *ngIf="profile?.industryId"><strong>Indústria:</strong> {{ industry?.name }}</li>
                            <ng-container *ngIf="profile.companySize">
                                <li><strong>Tamanho da Empresa: </strong>
                                    <ng-container *ngIf="profile.companySize === 'SMALL'">Pequena</ng-container>
                                    <ng-container *ngIf="profile.companySize === 'MEDIUM'">Média</ng-container>
                                    <ng-container *ngIf="profile.companySize === 'LARGE'">Grande</ng-container>
                                </li>
                            </ng-container>
                            <li *ngIf="profile.location"><strong>Localização:</strong>
                                {{ profile.location.city }}, {{ profile.location.country }}
                            </li>
                            <li *ngIf="profile.website"><span><strong>Site: </strong></span>
                                <a class="text-blue-500 hover:text-blue-600" [href]="profile.website" target="_blank">{{
                                    profile.website }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Client Profile Content -->
            </ng-container>

            <ng-template #freelancerContent>
                <!-- Freelancer Profile Content -->
                <div class="w-full grid justify-center lg:px-32">
                    <h3 class="font-bold text-3xl py-3">Sobre</h3>
                    <div class="w-full lg:flex max-lg:grid justify-between lg:space-x-32">
                        <p class="flex w-full justify-start text-xl py-3">{{ profile.profileSummary }}</p>

                        <ul class="block w-full justify-start text-xl py-3 text-nowrap">
                            <li *ngIf="profile.specializationId">
                                <strong>Expecialização:</strong> {{ specialization }}
                            </li>
                            <ng-container *ngIf="profile.experienceLevel">
                                <li>
                                    <strong>Nível de Experiência: </strong>
                                    <ng-container *ngIf="profile.experienceLevel === 'JUNIOR'">Júnior</ng-container>
                                    <ng-container *ngIf="profile.experienceLevel === 'MID-LEVEL'">Pleno</ng-container>
                                    <ng-container *ngIf="profile.experienceLevel === 'SENIOR'">Senior</ng-container>
                                </li>
                            </ng-container>

                            <li *ngIf="profile.hourlyRate">
                                <strong>Preço por Hora:</strong>
                                {{ profile.hourlyRate.currency }}{{ profile.hourlyRate.min }} -
                                {{ profile.hourlyRate.currency }}{{ profile.hourlyRate.max }}
                            </li>
                            <ng-container *ngIf="profile.isAvailable">
                                <li>
                                    <strong>Status:</strong> {{ profile.isAvailable ? 'Disponível' : 'Indisponível' }}
                                </li>
                            </ng-container>
                            <li *ngIf="profile.location">
                                <strong>Localização:</strong> {{ profile.location.city }}, {{ profile.location.country
                                }}
                            </li>
                        </ul>
                    </div>

                    <div *ngIf="profile.skillIds && profile.skillIds.length > 0">
                        <h4 class="font-bold text-2xl py-2">Habilidades</h4>
                        <ul class="flex flex-wrap justify-start gap-2">
                            <li *ngFor="let skillName of skills" class="flex items-center gap-2 bg-blue-500 py-1 px-3 rounded-full text-white">
                                <img *ngIf="skillImages[skillName]" [src]="getImageUrl(skillImages[skillName])" alt="{{ skillName }} icon" class="w-5 h-5 invert"/> 
                                <span>{{ skillName }}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="lg:flex max-lg:grid lg:justify-between lg:space-x-32">
                        <div *ngIf="profile.portfolioItems && profile.portfolioItems.length > 0"
                            class="block w-full justify-start mt-4">
                            <h4 class="font-bold text-2xl h-fit">Portfolio</h4>
                            <ul class="text-xl">
                                <li *ngFor="let item of profile.portfolioItems" class="mt-2 align-top">
                                    <div class="lg:flex max-lg:grid lg:space-x-2 max-lg:space-y-2">
                                        <h2 class="font-bold">{{ item.title }} <span
                                                class="lg:visible max-lg:hidden">|</span></h2>
                                        <a class="text-blue-500 hover:text-blue-600 cursor-pointer">{{ item.url }}</a>
                                    </div>
                                    <p>{{ item.description }}</p>
                                </li>
                            </ul>
                        </div>

                        <div *ngIf="profile.workExperiences && profile.workExperiences.length > 0"
                            class="block w-full justify-start items-start mt-4">
                            <h4 class="font-bold text-2xl h-fit">Experiencia Profissional</h4>
                            <ul class="text-xl">
                                <li *ngFor="let work of profile.workExperiences" class="mt-2">
                                    <div class="max-lg:grid">
                                        {{ work.jobTitle }} em {{ work.companyName }}
                                        <span>({{ work.startDate | date:'MMM yyyy'
                                            }} -
                                            {{ work.endDate ? (work.endDate | date:'MMM yyyy') : 'Presente' }})</span>
                                        <p *ngIf="work.jobDescription">{{ work.jobDescription }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="lg:flex max-lg:grid lg:justify-between lg:space-x-32">
                        <div *ngIf="profile.educations && profile.educations.length > 0"
                            class="block w-full justify-start items-start mt-4">
                            <h4 class="font-bold text-2xl h-fit">Formação Acadêmica</h4>
                            <ul class="text-xl">
                                <li *ngFor="let edu of profile.educations"
                                    class="mt-2 align-top lg:flex max-lg:grid lg:space-x-2 max-lg:space-y-2">
                                    <div class="max-lg:grid">
                                        {{ edu.degreeName }} em {{ edu.fieldOfStudy }} <span
                                            class="lg:visible max-lg:hidden">-</span>
                                        {{ edu.institution }}
                                        <span>
                                            ({{edu.startDate
                                            |
                                            date:'MMM/yyyy' }} - {{ edu.endDate ? (edu.endDate | date:'MMM/yyyy') :
                                            'Presente'
                                            }})
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div *ngIf="profile.certifications && profile.certifications.length > 0"
                            class="block w-full justify-start items-start mt-4">
                            <h4 class="font-bold text-2xl h-fit">Certificações</h4>
                            <ul class="text-xl">
                                <li *ngFor="let cert of profile.certifications"
                                    class="mt-2 align-top lg:flex max-lg:grid lg:space-x-2 max-lg:space-y-2">
                                    <div class="max-lg:grid">
                                        {{ cert.name }} <span class="lg:visible max-lg:hidden">-</span> {{
                                        cert.issuingOrganization }}
                                        <span>
                                            ({{ cert.issueDate | date:'MMM/yyyy'}})
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Freelancer Profile Content -->
            </ng-template>
            <!--template end-->
        </div>
    </ng-container>

</div>