<div class="grid justify-center align-middle min-h-screen h-fit">
    <div class="w-full shadow-lg bg-white p-8 my-auto">
        <p> view profile works!</p>
        <p> freelancer id: {{profileId}}</p>
    </div>
</div>
<!----
<div class="lg:w-2/6 mt-5 p-10 shadow-lg mx-auto mb-16">
    <form [formGroup]="freelancerForm">
        <h2 class="font-semibold my-3 text-3xl">Informações Pessoais</h2>

        <div class="flex justify-between">
            <div>
                <h2 class="font-semibold mt-4" for="firstName">Nome</h2>
                <input type="text" formControlName="firstName" id="firstName" class="p-2 border border-gray-300 rounded"
                    required>
            </div>
            <div>
                <h2 class="font-semibold mt-4" for="lastName">Sobrenome</h2>
                <input type="text" formControlName="lastName" id="lastName" class="p-2 border border-gray-300 rounded"
                    required>
            </div>
        </div>

        <div class="grid">
            <h2 class="font-semibold mt-4" for="profileSummary">Sobre</h2>
            <textarea id="profileSummary" formControlName="profileSummary" rows="4"
                placeholder="Write the profile Summary here" class="bg-white p-3 border-2"></textarea>
        </div>

        <h2 class="font-bold mt-8 text-center">Educacional</h2>
        <div formGroupName="education">
            <h2 class="font-semibold mt-4">Curso</h2>
            <input type="text" formControlName="degreeName" class="p-2 border border-gray-300 rounded"
                placeholder="degree Name">

            <h2 class="font-semibold mt-4">Área de estudo</h2>
            <input type="text" formControlName="fieldOfStudy" class="p-2 border border-gray-300 rounded"
                placeholder="field of Study">

            <h2 class="font-semibold mt-4">Instituição</h2>
            <input type="text" formControlName="institution" class="p-2 border border-gray-300 rounded"
                placeholder="institution">

            <div class="flex justify-between">
                <div>
                    <h2 class="font-semibold mt-4">Data de início</h2>
                    <input type="text" formControlName="startDate" class="p-2 border border-gray-300 rounded"
                        placeholder="start Date">
                </div>

                <div>
                    <h2 class="font-semibold mt-4">Data de Conclusão</h2>
                    <input type="text" formControlName="endDate" class="p-2 border border-gray-300 rounded"
                        placeholder="end Date">
                </div>
            </div>
        </div>

        <h2 class="font-bold mt-8 text-center">Certificações</h2>
        <div formArrayName="certifications">
            <div >
                <h2 class="font-semibold mt-4">Titúlo da certificação</h2>
                <input type="text" formControlName="name" class="p-2 border border-gray-300 rounded"
                    placeholder="Certification title">

                <h2 class="font-semibold mt-4">Organização Emissora</h2>
                <input type="text" formControlName="issuingOrganization" class="p-2 border border-gray-300 rounded"
                    placeholder="issuing Organization">

                <h2 class="font-semibold mt-4">Data da certificação</h2>
                <input type="text" formControlName="issueDate" class="p-2 border border-gray-300 rounded"
                    placeholder="issue Date">
            </div>
            <button type="button"  class="mt-4">Add Certification</button>
        </div>

        <h2 class="font-bold mt-8 text-center">Profissional</h2>
        <div formGroupName="professional">
            <h2 class="font-semibold mt-4">Portfólio</h2>
            <input type="text" formControlName="portfolio" class="p-2 border border-gray-300 rounded"
                placeholder="portfolio">

            <h2 class="font-semibold mt-4">Especializações</h2>
            <input type="text" formControlName="specializations" class="p-2 border border-gray-300 rounded"
                placeholder="specializations">

            <h2 class="font-semibold mt-4">Nível de Experiência</h2>
            <select formControlName="experienceLevel" class="p-2 px-4 border border-gray-300 rounded text-gray-500">
                <option value="Default" selected>Select your experience here</option>
                <option value="JUNIOR">Junior</option>
                <option value="MID-LEVEL">Pleno</option>
                <option value="SENIOR">Senior</option>
            </select>

            <h2 class="font-semibold mt-4">Habilidades</h2>
            <input type="text" formControlName="skillIds" class="p-2 px-4 border border-gray-300 rounded"
                placeholder="Enter your skills">

            <h2 class="font-semibold mt-4">Salário por Hora</h2>
            <input type="text" formControlName="hourlyRate" class="p-2 border border-gray-300 rounded"
                placeholder="hourly rate">
        </div>

        <h2 class="font-bold mt-8 text-center">Localização</h2>
        <div formGroupName="location" class="grid">
            <h2 class="font-semibold mt-4">CEP</h2>
            <input type="text" formControlName="cep" class="p-2 border border-gray-300 rounded" required>

            <div class="flex justify-between">
                <div>
                    <h2 class="font-semibold mt-4" for="street">Rua</h2>
                    <input type="text" formControlName="street" id="street" class="p-2 border border-gray-300 rounded"
                        required>
                </div>
                <div>
                    <h2 class="font-semibold mt-4" for="number">Número</h2>
                    <input type="text" formControlName="number" id="number" class="p-2 border border-gray-300 rounded"
                        required>
                </div>
            </div>

            <h2 class="font-semibold mt-4">Bairro</h2>
            <input type="text" formControlName="neighborhood" class="p-2 border border-gray-300 rounded" required>

            <h2 class="font-semibold mt-4">Cidade</h2>
            <input type="text" formControlName="city" class="p-2 border border-gray-300 rounded" required>

            <h2 class="font-semibold mt-4">Estado</h2>
            <input class="p-2 w-full border border-gray-300 rounded" type="text" placeholder="SP" id="" name="" disabled>
            <h2 class="font-semibold mt-4">País</h2>
            <input class="p-2 w-full border border-gray-300 rounded" type="text" placeholder="Brasil" id="" name="" disabled>
        </div>

        <div class="flex justify-between mx-auto">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-5 py-2 px-4 rounded cursor-pointer w-5/12">
                Salvar
            </button>
            <button type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-5 py-2 px-4 rounded cursor-pointer w-5/12">
                Cancelar
            </button>
        </div>
    </form>
</div>
-->