<div class="grid justify-center align-middle min-h-screen h-fit">
    <!--filler form start-->
    <div *ngIf="isLoading" class="w-full flex justify-center items-center py-10">
        <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500"></div>
    </div>

    <ng-container *ngIf="!isLoading && proposal">
        <div class="w-full shadow-lg bg-white p-8 my-auto">
            
            <h2 *ngIf="project" class="text-2xl font-bold mb-4">Proposta para {{ project.projectTitle }}</h2>
    
            <!--proposal start-->
            <form [formGroup]="editProposalForm"> <!--(ngSubmit)="onSubmit()"-->
                <div class="mb-4 my-auto mx-auto h-fit w-full flex">
                    <ng-container *ngIf="proposal">
                        <div *ngIf="proposal.pricingType == 'BUDGET'" class="pr-2 w-full">
                            <label for="proposedBudget" class="block text-gray-700 font-bold mb-2">Orçamento Proposto:</label>
                            <input type="number" id="proposedBudget" name="proposedBudget" formControlName="proposedBudget"
                                class="p-2 w-full border border-gray-300 rounded" placeholder="Project value" required>
                        </div>
                        <div *ngIf="proposal.pricingType == 'HOURLY-RATE'" class="pr-2 w-full">
                            <label for="proposedHourlyRate" class="block text-gray-700 font-bold mb-2">Valor/Hora Proposto:</label>
                            <input type="number" id="proposedHourlyRate" name="proposedHourlyRate" formControlName="proposedHourlyRate"
                                class="p-2 w-full border border-gray-300 rounded" placeholder="Project value" required>
                        </div>
                    </ng-container>
    
                    <div class="pl-2 w-full my-auto">
                        <label for="estimatedDuration" class="block text-gray-700 font-bold mb-2">Prazo Estimado (em dias):</label>
                        <input type="number" id="estimatedDuration" name="estimatedDuration" formControlName="estimatedDuration"
                            class="p-2 w-full border border-gray-300 rounded" placeholder="proposal duration" required>
                    </div>
                </div>
    
                <div class="mb-4 my-auto mx-auto h-fit w-full grid">
                    <label for="coverLetter" class="block text-gray-700 font-bold mb-2">Descrição do Plano de Trabalho:</label>
                    <textarea id="coverLetter" name="coverLetter" formControlName="coverLetter" placeholder="Proposal descripition"
                        class="bg-white p-3 border-2 min-h-12 max-h-96" rows="5" required></textarea>
                </div>
    
                <!--buttons-->
                <div class="mt-10 mx-auto h-fit w-full flex justify-between">
                    <!--[disabled]="editProposalForm.invalid"
                        [class.disabled]="editProposalForm.invalid"-->
                    <button (click)="EditProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold mr-2 p-2 rounded cursor-pointer w-full">
                        Salvar
                    </button>
                    <button (click)="SubmitProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-2 p-2 rounded cursor-pointer w-full">
                        Enviar
                    </button>
                    <button (click)="CancelProposal()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold ml-2 p-2 rounded cursor-pointer w-full">
                        Cancelar
                    </button>
                </div>
                <!--buttons-->
            </form>
            <!--proposal end-->
        </div>
    </ng-container>
    
</div>