.project-card{
    width: 100%;
    max-width: 30rem;
    max-height: 22rem;
    padding: 2rem;
    margin-left: auto; margin-right: auto;
    border-width: 1px;
    border-radius: 0.5rem;

    .card-header{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-bottom: 1rem;

        .project-status{
            display: block;
            width: 100%;
            padding: 0.5rem /* 8px */;
            border-radius: 0.375rem /* 6px */;
            color: white;
            text-wrap: nowrap;

            font-weight: 700;
            font-size: 1.4rem /* 24px */;
            line-height: 1.5;
            text-align: center;
        }
        .project-title-c{
            font-weight: 700;
            font-size: 1.5rem /* 24px */;
            line-height: 1.5;
            margin: 1rem 0rem;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: none;
            line-clamp: none;

            color: rgb(17 24 39);
        }
        .project-title-f{
            font-weight: 700;
            font-size: 1.5rem /* 24px */;
            line-height: 1.5;
            margin: 1rem 0rem;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;

            color: rgb(17 24 39);
        }
        .creator-name{
            font-weight: 500;
            font-size: 1.05rem;
            line-height: 1;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;

            color: rgb(75 85 99);
        }
    }
    .buttons-row{
        display: flex;
        flex-direction: row;
        padding-top: 1rem /* 16px */;
        padding-bottom: 1rem /* 16px */;

        .proj-card-btn{
            background-color: transparent;
            color: black;
            border-width: 1px;
            font-weight: 700;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem /* 4px */;
            width: 100%;

            &:hover{
                background-color: rgb(59 130 246);
                color: white;
            }
        }
    }
    .skills-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        overflow: hidden;
        margin: auto;
        max-height: 2rem;

        .skill{
            display: flex;
            background-color: rgb(59 130 246);
            color: white;
            border-radius: 2.5rem;
            padding: 0.25rem 0.75rem;
            margin: auto 0.75rem auto 0rem;
            text-wrap: nowrap;

            .skill-icon{
                width: 1rem;
                height: 1rem;
                margin: auto 0.25rem;
                filter: invert(100%);
            }
        }
    }
    .project-category{
        margin: 1rem 0rem;
        font-weight: 500;
        font-size: 1.05rem;
        line-height: 1;
        color: rgb(75 85 99);
    }
    .project-description{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}

.placeholder-card{
    width: 100%;
    padding: 2rem;
    margin-left: auto; margin-right: auto;
    border-width: 1px;
    border-radius: 0.5rem;
    background-color: #ffffff;

    @media (min-width: 1024px) {
        min-width: 30rem;
        min-height: 16rem;
    }

    @media not all and (min-width: 1024px) {
        min-width: 25rem;
        min-height: 15.5rem;
    }
}

.proposals-container{
    width: 100%;
    height: fit-content;
    max-width: 30rem;
    padding: 2rem;
    border-width: 1px;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.33);
}