<!--card template-->
<ng-container *ngIf="project">
  <ng-container *ngIf="isClient">
    <!--card start-->
    <div (click)="toggleDetails()" style="top: calc(1rem * 1);" [ngClass]="{'bg-gray-100': showDetails}"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
      <p class="text-sm text-gray-500">Project ID: {{project._id}}</p> <!-- Added this line -->
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900 flex justify-between items-center">
        <span class="block py-2 mr-2">{{project.projectTitle}}</span>
        <span class="block w-fit p-2 border-2 border-transparent rounded-md text-white"
          [ngClass]="{'bg-blue-500': project.projectStatus === 'DRAFT', 'bg-green-500': project.projectStatus === 'POSTED'}">
          {{project.projectStatus}}</span>
      </h2>
    </div>
    <!--card end-->
  </ng-container>
  <ng-container *ngIf="!isClient">
    <!--card start-->
    <div (click)="toggleDetails()" style="top: calc(1rem * 1);" [ngClass]="{'bg-gray-100': showDetails}"
      class="sticky w-full max-w-xl lg:h-64 max-lg:h-96 px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block pb-2">{{project.projectTitle}}</span>
        <span *ngIf="creatorName" class="block text-sm text-gray-700">{{creatorName}}</span>
      </h2>
      <p>
        {{project.projectDescription}}
      </p>
    </div>
    <!--card end-->
  </ng-container>
  <!--card details start-->
  <div class="fixed inset-0 bg-black bg-opacity-50 grid items-center justify-center z-10" *ngIf="showDetails">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-3xl w-full" style="max-height: 90vh; overflow-y: auto;">
      <p class="text-sm text-gray-500">Project ID: {{project._id}}</p> <!-- Added this line -->
      <div class="flex justify-between align-middle">

        <h2 class="text-2xl font-bold mb-4">{{project.projectTitle}}</h2>

        <button (click)="toggleDetails()"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-full p-1 items-center w-fit h-fit">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>


      <div *ngIf="detailedProject" class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <p><strong>Created by:</strong> {{creatorName}}</p>
          <p><strong>Worked by:</strong>
            <ng-container *ngIf="detailedProject.freelancerId; else noFreelancer">
              {{detailedProject.freelancerId}}
            </ng-container>
            <ng-template #noFreelancer>
              Not Specified
            </ng-template>
          </p>
          <p><strong>Description:</strong> <br> {{detailedProject.projectDescription}}</p>
          <ng-container *ngIf="detailedProject.pricingType == 'BUDGET'">
            <p>
              <strong>Budget:</strong>
              {{detailedProject.projectBudget.currency}}{{detailedProject.projectBudget.min}}
              -
              {{detailedProject.projectBudget.currency}}{{detailedProject.projectBudget.max}}
            </p>
          </ng-container>


          <ng-container *ngIf="detailedProject.pricingType == 'HOURLY_RATE'">
            <p>
              <strong>Hourly rate:</strong>
              {{detailedProject.projectHourlyRate.currency}}{{detailedProject.projectHourlyRate.min}}
              -
              {{detailedProject.projectHourlyRate.currency}}{{detailedProject.projectHourlyRate.max}}
            </p>
          </ng-container>

          <p><strong>Deadline:</strong> {{detailedProject.estimatedDuration}}</p>


          <strong>Skills:</strong>
          <ng-container *ngIf="skills.length > 0; else noSkills">
            <span *ngFor="let skill of skills; let i = index">
              {{ skill }}
              <span *ngIf="i < skills.length - 1">, </span>
            </span>
          </ng-container>
          <ng-template #noSkills>
            Not Specified
          </ng-template>

          <p><strong>Location:</strong>
            <ng-container *ngIf="detailedProject.location; else noLocation">
              <br>{{detailedProject.location.streetAddress}}
              <br>{{detailedProject.location.neighborhood}}
              <br>{{detailedProject.location.city}}, {{detailedProject.location.state}} {{detailedProject.location.cep}}
              <br>{{detailedProject.location.country}}
            </ng-container>
            <ng-template #noLocation>
              Not Specified
            </ng-template>
          </p>
        </div>
        <div>
          <p><strong>Experience Level:</strong> {{detailedProject.experienceLevel}}</p>
          <p><strong>Work Model:</strong> {{detailedProject.workModel}}</p>
          <p><strong>Pricing Type:</strong> {{detailedProject.pricingType}}</p>
          <p><strong>Estimated Duration:</strong> {{detailedProject.estimatedDuration}}
            {{detailedProject.estimatedDuration > 1 ? 'days'
            : 'day'}}</p>
          <p><strong>Project Size:</strong> {{detailedProject.projectSize}}</p>
          <p><strong>Status:</strong> {{detailedProject.projectStatus}}</p>
        </div>
      </div>

      <!--Buttons start-->
      <div class="mt-4 flex w-full space-x-4">
        <ng-container *ngIf="isClient">
          <button *ngIf="project.projectStatus === 'DRAFT'" (click)="postProject()"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full">
            Post Project
          </button>
          <button (click)="cancelProject()"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-full">
            Cancel Project
          </button>
          <button (click)="editProject()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
            Edit Project
          </button>
          <button (click)="showProposals = !showProposals"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
            {{ showProposals ? 'Esconder Propostas' : 'Mostrar Propostas' }}
          </button>
        </ng-container>

        <ng-container *ngIf="!isClient">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
            Enter in Contact
          </button>
          <button (click)="makeProposal()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
            Make a Proposal
          </button>
        </ng-container>
      </div>
      <!--Buttons end-->
    </div>
    <div *ngIf="showProposals" style="top: calc(1rem * 1);" 
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-transparent border border-gray-50 rounded-lg shadow-lg">
      <!--grid start-->
      <ng-container *ngIf="proposals.length > 0; else noProposals">
        <div class="grid justify-center gap-4 my-28">
          <!--app-project-card-->
          <ng-container *ngFor="let proposal of proposals">
            <app-proposal-card [proposal]="proposal"></app-proposal-card>
          </ng-container>
        </div>
      </ng-container>
      <!--grid end-->
      <ng-template #noProposals>
        <div class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white rounded-lg shadow-lg">
          <p>Ainda não há propostas para este projeto.</p>
        </div>
      </ng-template>
    </div>
  </div>
  <!--card details end-->
</ng-container>