<!--card-->
<ng-container *ngIf="project">
  <div style="top: calc(1rem * 1);"
    class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
    <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900 flex justify-between items-center">
      <span class="block py-2 mr-2">{{project.projectTitle}}</span>
      <span class="block w-fit p-2 border-2 border-transparent rounded-md text-white"
        [ngClass]="{'bg-blue-500': project.projectStatus === 'DRAFT', 'bg-green-500': project.projectStatus === 'POSTED'}">
        {{project.projectStatus}}</span>
    </h2>
  </div>
</ng-container>