<div class="grid justify-center align-middle min-h-screen h-fit">
    <!--chat structure start-->
    <div class="chat-container">
        <!--contacts structure start-->
        <div class="contacts-col space-y-0.5 transition-transform duration-300 ease-in-out"
            [class.-translate-x-full]="showChatBox" [class.translate-x-50%]="showContacts">
            <nav class="contact-nav">
                <span> Meus Contatos</span>
            </nav>
            <!--contact template-->
            <div *ngFor="let contact of contacts" class="contact-container" (click)="openChat(contact._id)">
                <span class="message-date" *ngIf="contact.messages && contact.messages.length > 0">
                    {{ contact.messages[contact.messages.length - 1].timestamp | date: 'HH:mm' }}
                </span>
                <div class="contact-content">
                    <img type="image/png" class="contact-image bg-gray-400">
                    <div class="grid mx-4 overflow-clip">
                        <h2 class="contact-name">
                            {{ getOtherUserName(contact) }}
                        </h2>
                        <p class="contact-last-message" *ngIf="contact.messages && contact.messages.length > 0">
                            {{ contact.messages[contact.messages.length - 1].content }}
                        </p>
                    </div>
                </div>
            </div>
            <!--contact template-->
        </div>
        <!--contacts structure end-->
        <!--chat box structure start-->
        <div class="chat-box absolute transition-opacity duration-0 ease-in-out" [class.opacity-0]="!showChatBox"
            [class.opacity-100]="showChatBox">
            <nav class="chat-nav">
                <span *ngIf="currentChatChannel">
                    Conversa com
                    {{ currentChatChannel.freelancerId || currentChatChannel.clientId }}
                </span>
                <button class="lg:hidden" (click)="closeChat()">
                    <i class="fa fa-reply"></i>
                </button>
                <button class="max-lg:hidden" (click)="closeChat()"> Voltar </button>
            </nav>
            <div class="chat-content">
                <!--placeholders-->
                <div *ngFor="let message of messages"
                    [class.message-sent]="currentUserId && getSenderId(message) === currentUserId"
                    [class.message-received]="currentUserId && getSenderId(message) !== currentUserId">
                    <div class="message-buble">
                        <p class="message">{{ message.content }}</p>
                        <span class="message-date">{{ message.timestamp | date: 'HH:mm' }}</span>
                        <pre>{{ message | json }}</pre>
                        <div>{{ message.senderId }} === {{ currentUserId }}: {{(message.senderId ===
                            currentUserId).toString() }}</div>
                    </div>
                </div>
                <!--placeholders-->
            </div>
            <div class="chat-inputs-row">
                <div class="message-input-container">
                    <form [formGroup]="newMessageForm" (ngSubmit)="sendMessage()">
                        <input class="chat-message-input" placeholder="Digite aqui sua Mensagem" type="text"
                            formControlName="content">
                        <button type="submit" [disabled]="!newMessageForm.valid" class="send-message-button">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--chat box structure end-->
    </div>
    <!--chat structure end-->
</div>