<div class="page-container">
    <div class="register-container shadow-lg">
        <h3>Registro</h3>
        <form [formGroup]="registerForm">
            <div class="input-row">
                <input formControlName="username" name="username" type="text" placeholder="Nome de Usuário"
                    class="text-input">
                <div *ngIf="serverError" class="text-red-500 error-message">
                    <span *ngIf="serverError == 'username already exists' "> Nome de Usuário indisponível ou em uso</span>
                </div>
                <span *ngIf="registerForm.hasError('required', 'username') && registerForm.controls['username'].dirty"
                    class="text-red-500">*Nome de Usuário é requerido</span>
            </div>
            <div class="input-row">
                <input formControlName="email" name="email" type="text" placeholder="Email" class="text-input">
                <div *ngIf="serverError" class="text-red-500 error-message">
                    <span *ngIf="serverError == 'email already exists' "> Email indisponível ou em uso</span>
                </div>
                <span *ngIf="registerForm.hasError('required', 'email') && registerForm.controls['email'].dirty"
                    class="text-red-500">*Email é requerido</span>
                <span *ngIf="registerForm.hasError('email', 'email')" class="text-red-500">*Email é invalido</span>
            </div>
            <div class="input-row">
                <input formControlName="password" name="password" [type]="showPassword ? 'text' : 'password'"
                    placeholder="Senha" class="text-input">
                <span class="input-icon-row">
                    <button type="button" class="show-password-btn" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>
                </span>
                <span *ngIf="registerForm.hasError('required', 'password') && registerForm.controls['password'].dirty"
                    class="text-red-500">*Senha é requerida</span>
            </div>

            <div class="form-btn-inputs">
                <div>
                    <input type="radio" name="role" id="clientRole" formControlName="role" value="CLIENT"
                        class="radio-button" checked>
                    <label for="clientRole">Cliente</label>
                </div>
                <div>
                    <input type="radio" name="role" id="freelancerRole" formControlName="role" value="FREELANCER"
                        class="radio-button">
                    <label for="freelancerRole">Freelancer</label>
                </div>
            </div>

            <div *ngIf="serverError" class="text-red-500 error-message">
                <!--DEV MODE {{ serverError }}-->
            </div>
            <div class="input-row">
                <button [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" (click)="register()"
                    class="form-btn">Registrar</button>
            </div>

        </form>
        <div class="link-row">
            <span>Já tem uma Conta? <a routerLink="/login">Faça o Login</a></span>
        </div>
    </div>
</div>