<!-- profile.component.html -->
<ng-container *ngIf="isClient">
    <div class="w-full flex justify-between items-center p-5 bg-slate-300 shadow-lg">
        <object class="rounded-full bg-black w-32 h-32 -mb-16 flex justify-center items-center">
            <img src="../../../assets/images/prf_icon.png" class="w-28 h-28 overflow-hidden">
        </object>
    </div>
    <div class="w-full flex justify-end bg-white py-3">
        <div class="w-10/12 flex justify-between content-center">
            <div class="">
                <h2 class="font-bold text-3xl">{{ userName }}</h2>
                <p class="font-semibold text-xl">{{ userId }}</p>
            </div>
            <button
                class="flex items-center justify-center bg-transparent hover:bg-blue-500 
            text-gray-700 font-semibold hover:text-white py-1 px-8 mx-8 border border-gray-500 hover:border-transparent rounded">
                <object class="w-3 h-3 mx-2 -mb-1" data="../../../assets/images/pencil-edit-svgrepo-com.svg"></object>
                Edit Profile
            </button>
        </div>
    </div>

    <div class="w-full flex justify-start content-center bg-sky-700">
        <ul class="flex justify-center p-1 text-xl">
            <li class="text-white mx-5 p-5 bg-sky-800 rounded-md hover:bg-sky-800 cursor-pointer">
                <a class="active">About</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a routerLink="/manage-project">Projects</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a>Notifications</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a>Messages</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a>Settings</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <span routerLink="/login" (click)="logOut()">Logout</span>
            </li>
        </ul>
    </div>
    <!--client placeholder-->
    <div class="w-full p-8">
        <div class="w-2/3 mx-auto">
            <h3 class="font-bold text-3xl py-3">About</h3>
            <p class="text-xl py-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla facilisi. Donec lacinia, quam sed euismod tincidunt,
                nulla enim rhoncus dolor, ut tempus dolor risus vitae
                erat. Nulla facilisi. Donec lacinia, quam sed euismod
                tincidunt, nulla enim rhoncus dolor, ut tempus dolor
                risus vitae erat.
            </p>
            <ul class="text-xl py-3">
                <li><strong>Industry:</strong> Technology</li>
                <li><strong>Founded:</strong> 2015</li>
                <li><strong>Location:</strong> San Francisco, CA</li>
            </ul>

            <ul class="text-xl py-3">
                <li><span><strong>Website:</strong></span> <a> www.companywebsite.com</a></li>
                <li><span><strong>Phone:</strong></span> +1 (555) 555-5555</li>
                <li><span><strong>Email:</strong></span> info&#64;companyemail.com</li>
            </ul>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isClient">
    <div class="w-full flex justify-between items-center p-5 bg-slate-300 shadow-lg">
        <object class="rounded-full bg-black w-32 h-32 -mb-16 flex justify-center items-center">
            <img src="../../../assets/images/prf_icon.png" class="w-28 h-28 overflow-hidden">
        </object>
    </div>
    <div class="w-full flex justify-end bg-white py-3">
        <div class="w-10/12 flex justify-between content-center">
            <div class="">
                <h2 class="font-bold text-3xl">{{ userName }}</h2>
                <p class="font-semibold text-xl">{{ userId }}</p>
            </div>
            <button
                class="flex items-center justify-center bg-transparent hover:bg-blue-500 
            text-gray-700 font-semibold hover:text-white py-1 px-8 mx-8 border border-gray-500 hover:border-transparent rounded">
                <object class="w-3 h-3 mx-2 -mb-1" data="../../../assets/images/pencil-edit-svgrepo-com.svg"></object>
                Edit Profile
            </button>
        </div>
    </div>

    <div class="w-full flex justify-start content-center bg-sky-700">
        <ul class="flex justify-center p-1 text-xl">
            <li class="text-white mx-5 p-5 bg-sky-800 rounded-md hover:bg-sky-800 cursor-pointer">
                <a class="active">About</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a routerLink="/manage-project">Projects</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a>Notifications</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a>Messages</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <a>Settings</a>
            </li>
            <li class="text-white mx-5 p-5 rounded-md hover:bg-sky-800 cursor-pointer">
                <span routerLink="/login" (click)="logOut()">Logout</span>
            </li>
        </ul>
    </div>
    <!--freelancer placeholder-->
    <div class="w-full p-8">
        <div class="w-2/3 mx-auto">
            <h3 class="font-bold text-3xl py-3" style="display: flex; justify-content: space-between; align-items: center;">
                About [first_name] [last_name] 
                <span class="bg-green-300 border-2 border-green-500 text-white p-2 rounded-md">[Online]</span>
            </h3>
            <p class="text-xl py-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla facilisi. Donec lacinia, quam sed euismod tincidunt,
                nulla enim rhoncus dolor, ut tempus dolor risus vitae
                erat. Nulla facilisi. Donec lacinia, quam sed euismod
                tincidunt, nulla enim rhoncus dolor, ut tempus dolor
                risus vitae erat.
            </p>
            <ul class="text-xl py-3">
                <li><strong>Location:</strong> São Paulo, SP (Brazil)</li>
                <li><strong>Specializations:</strong> Web Development, Software Engineering</li>
                <li><strong>Skills:</strong> UI/UX Design, Project Management</li>
                <li><strong>Experience:</strong> 5+ years in the software industry [senior]</li>
                <li><strong>Work Experience:</strong> In Tech Solutions Inc. as an Software Engineer (23/11/2022)</li>
                <br>
                <li><strong>Education:</strong> <br>
                    <p class="ml-4">Bachelor's Degree in Computer Science, University C.P.S. Fatec Sorocaba. (01/02/2020 - 01/02/2023)</p>
                    <p class="ml-4">Complete College, IFSP campus São Paulo. (01/08/2017 - 01/08/2020)</p>
                </li>
                <li><strong>Certifications:</strong> Certified UX Designer, UX Design Institute (20/03/2021)</li>
                <li><strong>Portfolio:</strong> https://example-ecommerce.com</li>
                <li><strong>Payment:</strong> R$1,00 to R$9999,99</li>
            </ul>
        </div>
    </div>
</ng-container>