<div class="flex flex-row justify-center align-middle h-screen -mt-24">
    <div class="lg:w-3/12 max-lg:w-5/6 my-auto p-10 shadow-lg mx-auto bg-white">
        <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
        <form [formGroup]="forgetForm" class="flex flex-col">
            <span class="mb-4">
                Enter your Email and we'll send you instructions
                on how to reset your password.
            </span>
            <div class="flex flex-col mt-4 mb-1">
                <input formControlName="email" type="text" placeholder="Email" 
                 class="p-2 border border-gray-300 rounded" >
                <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty"
                 class="text-red-500">*Email is required</span>
                <span *ngIf="forgetForm.hasError('email', 'email')" 
                 class="text-red-500">*Email is invalid</span>
            </div>
            <div class="flex w-full mt-2">
                <button (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" 
                 class="bg-indigo-500 w-full mr-3 p-2 rounded-md text-gray-50">Submit</button>
                <button routerLink="/login" class="bg-gray-500 w-full p-2 rounded-md text-gray-50">Cancel</button>
            </div>
        </form>
    </div>
</div>
