<div class="page-container">
    <div class="forget-pass-container shadow-lg">
        <h3>Esqueceu a Senha</h3>
        <form [formGroup]="forgetForm" class="flex flex-col">
            <span>
                Escreva seu Email e nós iremos lhe enviar instruções
                de como recuperar a sua senha.
            </span>
            <div class="input-row">
                <input formControlName="email" type="text" placeholder="Email" name="email" id="email"
                 class="text-input">
                <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty"
                 class="text-red-500">*Email é requerido</span>
                <span *ngIf="forgetForm.hasError('email', 'email')" 
                 class="text-red-500">*Email é invalido</span>
            </div>
            <div class="space-x-4">
                <button (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" 
                 class="form-btn">Enviar</button>
                <button (click)="cancelSubmission()" class="sec-form-btn">Cancelar</button>
            </div>
        </form>
    </div>
</div>
